<!--/* 
<div th:replace="~{calendar/list_all_com::list_all_fragment}"></div> 
'/calendar/list_all_com.html' 파일의 list_all_fragment를 가져다 사용
*/-->
<div th:fragment="list_all_fragment"> 
  <table class="table table-hover" style="width: 100%;">
    <colgroup>
      <col style='width: 5%;'/>
      <col style='width: 15%;'/>
      <col style='width: 5%;'/>
      <col style='width: 30%;'/>    
      <col style='width: 5%;'/>
      <col style='width: 15%;'/>
      <col style='width: 15%;'/>
      <col style='width: 10%;'/>
    </colgroup>
    <thead>
      <tr>
        <th class="th_bs">순서</th>
        <th class="th_bs">등록일</th>
        <th class="th_bs">설문조사 번호</th>
        <th class="th_bs">설문조사 주제</th>
        <th class="th_bs">회원 번호</th>
        <th class="th_bs">회원 아이디</th>
        <th class="th_bs">회원 이메일</th>
        <th class="th_bs">기타</th>
      </tr>
    </thead>
    <tbody>
      <tr th:each="SurveySurveygoodMemberVO, status:${list}">
        <td class="td_bs" th:text="|${status.index+1}|"></td>
        <td class="td_bs" th:text="${SurveySurveygoodMemberVO.rdate.substring(0, 10)}"></td>
        <td class="td_bs" th:text="${SurveySurveygoodMemberVO.surveyno}"></td>
        <td class="td_bs" th:text="${SurveySurveygoodMemberVO.s_topic}"></td>
        <td class="td_bs" th:text="${SurveySurveygoodMemberVO.memberno}"></td>
        <td class="td_bs" th:text="${SurveySurveygoodMemberVO.id}"></td>
        <td class="td_bs" th:text="${SurveySurveygoodMemberVO.email}"></td>
        <td class="td_bs">
          <a href="#" th:onclick="'delete_good(event, ' + ${SurveySurveygoodMemberVO.goodno} + ');'"><img src="/surveygood/images/delete.png" class="icon" title="삭제"></a>
        </td>
      </tr>
    </tbody>
  </table>
  <script>
    function delete_good(e, goodno) {
      let sw = confirm(goodno + '번 글 삭제를 하시겠습니까?\n삭제하면 복구 할 수 없습니다.');
      if (sw == true) {
        document.querySelector('#goodno').value = goodno;
        document.querySelector('#frm').submit();
      }
    }
  </script>
  <form name="frm" id="frm" method="post" action="/surveygood/delete">
    <input type="hidden" name="goodno" id="goodno">
  </form>
  
</div>