<!DOCTYPE html>
<html layout:decorate="~{layout}"> <!-- layout.html 상속 -->
<head>
    <meta charset="UTF-8">
    <title>회원 목록</title>
    <!-- CSS 파일 링크 추가 -->
    <link rel="stylesheet" href="/css/style.css"> <!-- CSS 파일 경로 -->
</head>
<body>
<div layout:fragment="content">

  <div class='title_line'>

    목록 조회 검색
    
    <span th:if="${word != ''}" th:text="|> ${word} (${search_count} 건)|" class="title_line_text"></span>

  </div>

  <aside class="aside_right">
    <span th:if="${session.grade == 'admin'}">
      <a th:href="@{|/bannedwords/create|}">등록</a>
      <span class="menu_devide">│</span>    
      <a href="javascript:location.reload();">새로고침</a>
      <span class='menu_divide'>│</span>    
      <a th:href="@{/bannedwords/list_by_wordno_search_paging}">목록</a>    
    </aside> 
  
  <div th:replace="~{/bannedwords/list_search_com :: list_search_fragment}"></div>
     
  <div class='menu_line'></div>
       
  <table class="table table-striped playful-table" style='width: 100%;'>
    <colgroup>
      <col style='width: 10%;'/>
      <col style='width: 90%;'/>
    </colgroup>
    <tr>
      <th class='th_bs'>금지 단어</th>
      <th class='th_bs'>정의/이유</th>
    </tr>
   
    <tr th:if="${list != null and list.size() > 0}" th:each="bannedwordsVO, status:${list}" 
         th:attr="onclick=|location.href='/bannedwords/read?wordno=${bannedwordsVO.wordno}&word=${word}&now_page=${now_page}'|"
         style="cursor: pointer; height: 90px;">
      <td class='td_basic' style="vertical-align: middle; text-align: center;">
         <span th:text="${bannedwordsVO.word}" style="font-weight: bold;"></span><br>
      </td>
      </td>
      <td class='td_left' style="vertical-align: middle; text-align: center;">
        <span th:if="${bannedwordsVO.reason.length() > 160 }" 
                  th:text="|${bannedwordsVO.reason.substring(0, 160) }...|"></span>
        <span th:if="${bannedwordsVO.reason.length() <= 160 }" 
                  th:text="|${bannedwordsVO.reason}|"></span>

      </td>
    </tr>

    <tr th:if="${list != null and list.size() == 0}">
      <td colspan="2" style="text-align: center;">관련 글이 등록되지 않았습니다.</td>
    </tr> 

  </table>
   
  <!-- 페이지 버튼 목록 출력 시작 -->
  <div class="bottom_menu" th:utext="${paging}"></div>
  <!-- 페이지 버튼 목록 출력 종료 --> 
  
</div>
</body>
</html>