<!DOCTYPE html>

<html layout:decorate="~{layout}"> <!-- layout.html 상속-->
<div layout:fragment="content">

  <div class='title_line'>검색목록</div>

  <aside class="aside_right">
    <span th:if="${session.grade == 'member'}">
      <a th:href="@{/learningdata/create}">등록</a>
      <span class="menu_devide">│</span>    
    </span>
    
    <a href="javascript:location.reload();">새로고침</a>
  </aside> 

  <!-- /contents/list_search_com.html 파일의 list_search_fragment import -->
  <div th:replace="~{learningdata/list_search_com::list_search_fragment}"></div>
     
  <div class='menu_line'></div>
       
  <table class="table table-striped" style='width: 100%;'>
    <colgroup>
      <col style='width: 10%;'/>
      <col style='width: 45%;'/>
      <col style='width: 45%;'/>
    </colgroup>
    <tr>
      <th class='th_bs'>학습 데이터 번호</th>
      <th class='th_bs'>학습 데이터 질문</th>
      <th class='th_bs'>학습 데이터 답변</th>
    </tr>
   
    <tr th:each="learningdataVO, status:${list}" 
         th:attr="onclick=|location.href='/learningdata/read?datano=${learningdataVO.datano}&ques=${ques}'|"
         style="cursor: pointer; height: 90px;">

      </td>
      <td class='td_basic' style="vertical-align: middle; text-align: center;">
        <span th:text="${learningdataVO.datano}" style="font-weight: bold;"></span><br>
        
      <td class='td_basic' style="vertical-align: middle; text-align: center;">
        <span th:if="${learningdataVO.ques.length() > 160 }" 
                  th:text="|${learningdataVO.ques.substring(0, 160) }...|"></span>
        <span th:if="${learningdataVO.ques.length() <= 160 }" 
                  th:text="|${learningdataVO.ques}|"></span>
                  
      <td class='td_basic' style="vertical-align: middle; text-align: center;">
        <span th:if="${learningdataVO.ans.length() > 160 }" 
                  th:text="|${learningdataVO.ans.substring(0, 160) }...|"></span>
        <span th:if="${learningdataVO.ans.length() <= 160 }" 
                  th:text="|${learningdataVO.ans}|"></span>        
        
      </td>
    </tr>
  </table>
   
  <div class='bottom_menu'>
    <button type='button' onclick="location.reload();" class="btn btn-primary btn-sm">새로 고침</button>
  </div>

</div>
</html>

