<!DOCTYPE html>
<html layout:decorate="~{layout}"> <!-- layout.html 상속 -->
<body>
<div layout:fragment="content">
  <div class='title_line'>
    > 학습 데이터 조회
  </div>

  <aside class="aside_right" th:if="${session?.gradle != 1}">
    <a href="javascript:location.reload();">새로고침</a>
    <span class='menu_divide'>│</span>
    <a th:href="@{/learningdata/list_by_datano_search_paging}">목록</a>
    <span class='menu_divide'>│</span>
    <a th:href="@{/learningdata/create}">등록</a>
    <span class='menu_divide'>│</span>
    <a th:href="@{|/learningdata/update_text?datano=${learningdataVO.datano}&now_page=${now_page}|}">글 수정</a>
    <span class='menu_divide'>│</span>
    <a th:href="@{|/learningdata/delete?datano=${learningdataVO.datano}&now_page=${now_page}|}">삭제</a>
  </aside>

  <div class='menu_line'></div>

  <fieldset class="fieldset_basic">
    <ul>
      <li class="li_none">
        <div style="width: 100%; word-break: break-all;">
          <span style="font-size: 1.5em; font-weight: bold;">학습 데이터 질문</span>
          <br><br>
          <span th:text="${learningdataVO.ques}" style="font-size: inherit; font-weight: normal;"></span>
          <br><br><br>
          <span style="font-size: 1.5em; font-weight: bold;">학습 데이터 답변</span>
          <br><br>
          <span th:text="${learningdataVO.ans}" style="font-size: inherit; font-weight: normal;"></span>
          <br><br><br>
          <div style="white-space: pre-wrap;">도덕성 검증 여부: <span th:text="${learningdataVO.ethical}"></span></div>
          <br><br>
          <div style="white-space: pre-wrap;">등록일: <span th:text="${learningdataVO.create_at}"></span></div>
        </div>
      </li>
    </ul>
  </fieldset>
</div>
</body>
</html>
