<!DOCTYPE html>

<html layout:decorate="~{layout}"> <!-- layout.html 상속 -->
<div layout:fragment="content">
  <div class='title_line'>
    평점 삭제
  </div>
  
  <aside class="aside_right">
    <a th:href="@{/score/create}">등록</a>
    <span class='menu_divide'>│</span>
    <a href="javascript:location.reload();">새로고침</a>
    <span class='menu_divide'>│</span>
    <a th:href="@{/score/list_by_scoreno_search_paging}">목록</a>
  </aside>
  
  <div class='menu_line'></div>
  
  <fieldset class="fieldset_basic">
    <ul>
      <li class="li_none">
  
        <div style='text-align: left; width: 47%; float: left;'>
          <span style='font-size: 1.5em;'>일기 점수: </span>
          <span style='font-size: 1.5em;' th:text="${scoreVO.diary_score}"></span>
          <br><br>

          <span style='font-size: 1.5em;'>달력 점수: </span>
          <span style='font-size: 1.5em;' th:text="${scoreVO.calendar_score}"></span>
          <br><br>

          <span style='font-size: 1.5em;'>채팅 점수: </span>
          <span style='font-size: 1.5em;' th:text="${scoreVO.chat_score}"></span>
          <br><br>

          <span style='font-size: 1.5em;'>로그인 점수: </span>
          <span style='font-size: 1.5em;' th:text="${scoreVO.login_score}"></span>
          <br><br>

          <span style='font-size: 1.5em;'>설문조사 점수: </span>
          <span style='font-size: 1.5em;' th:text="${scoreVO.survey_score}"></span>
          <br><br>

          <span style='font-size: 1.5em;'>그림 점수: </span>
          <span style='font-size: 1.5em;' th:text="${scoreVO.drawing_score}"></span>
          <br><br>

          <span style='font-size: 1.5em;'>감정 점수: </span>
          <span style='font-size: 1.5em;' th:text="${scoreVO.emotion_score}"></span>
          <br><br>

          <span style='font-size: 1.5em;'>날씨 점수: </span>
          <span style='font-size: 1.5em;' th:text="${scoreVO.weather_score}"></span>
          <br><br>

          <span style='font-size: 1.5em;'>공지사항 점수: </span>
          <span style='font-size: 1.5em;' th:text="${scoreVO.notice_score}"></span>
          <br><br>
          
          <span style='font-size: 1.5em;'>금지단어 점수: </span>
          <span style='font-size: 1.5em;' th:text="${scoreVO.word_score}"></span>
          <br><br>
          
          <span style='font-size: 1.5em;'>총점수: </span>
          <span style='font-size: 1.5em;' th:text="${scoreVO.total}"></span>
          <br><br>
          
          <br> 
          <div style='margin-top: 20px; clear: both;'>
            <span style="color: #FF0000; font-weight: bold;">삭제를 진행하시겠습니까? 삭제하시면 복구할 수 없습니다.</span>
            <br><br><br>  
            <form name='frm' method='POST' action='./delete'>
            <input type="hidden" name="memberno" th:value="${scoreVO.memberno }">
            <input type="hidden" name="scoreno" th:value="${scoreVO.scoreno }">
            <input type="hidden" name="now_page" th:value="${now_page}">
                
            <br> 
            <div style='margin-top: 20px; clear: both;'>
              <span style="color: #FF0000; font-weight: bold;">삭제를 진행 하시겠습니까? 삭제하시면 복구 할 수 없습니다.</span>
              <br><br><br>  
              <button type="submit" class="btn btn-secondary btn-sm">삭제</button>
              <button type="button" onclick="history.back();" class="btn btn-secondary btn-sm">취소</button>
            </div>  
          </form>
          </div>  
        </div>
      </li>
    </ul>
  </fieldset>  

</div>

</html>
