<!DOCTYPE html>
<html layout:decorate="~{layout}">
<div layout:fragment="content">

  <div class='title_line'>
    목록 조회 검색
    <span th:if="${jumsu != ''}" th:text="|> ${jumsu} (${search_count} 건)|" class="title_line_text"></span>
  </div>

  <aside class="aside_right">
    <span th:if="${session.grade == 'admin'}">
      <a th:href="@{|/score/create|}">등록</a>
      <span class="menu_divide">│</span>    
      <a href="javascript:location.reload();">새로고침</a>
      <span class="menu_divide">│</span>    
      <a th:href="@{/score/list_by_scoreno_search_paging}">목록</a>
    </span>
  </aside> 

  <div th:replace="~{/score/list_search_com :: list_search_fragment}"></div>
     
  <div class='menu_line'></div>
       
  <table class="table table-striped" style='width: 100%;'>
    <colgroup>
      <col style='width: 10%;'/>
      <col style='width: 30%;'/>      
      <col style='width: 20%;'/>
      <col style='width: 20%;'/>
      <col style='width: 20%;'/>
    </colgroup>
    <tr>
      <th class='th_bs'>평점 번호</th>
      <th class='th_bs'>평점</th>
      <th class='th_bs'>회원</th>
      <th class='th_bs'>등록일</th>
      <th class='th_bs'>기타</th>
    </tr>
   
    <tr th:each="modeltrainingVO, status:${list}" 
         th:attr="onclick=|location.href='/score/read?scoreno=${scoreVO.scoreno}&jumsu=${jumsu}'|"
         style="cursor: pointer; height: 90px;">
      </td>
      <td class='td_basic' style="vertical-align: middle; text-align: center;">
         <span th:text="${scoreVO.scoreno}" style="font-weight: bold;"></span><br>
      </td>
      <td class='td_basic' style="vertical-align: middle; text-align: center;">
         <span th:text="${scoreVO.jumsu}" style="font-weight: bold;"></span><br>
      </td>
      <td class='td_basic' style="vertical-align: middle; text-align: center;">
         <span th:text="${scoreVO.memberno}" style="font-weight: bold;"></span><br>
      </td>
      <td class='td_basic' style="vertical-align: middle; text-align: center;">
         <span th:text="${scoreVO.rdate}" style="font-weight: bold;"></span><br>
      </td>
     
    </tr>

    <tr th:if="${list != null and list.size() == 0}">
      <td colspan="4" style="text-align: center;">관련 글이 등록되지 않았습니다.</td>
    </tr> 
  </table>
   
  <div class="bottom_menu" th:utext="${paging}"></div>
  
</div>
</html>
