<!--/* 
<div th:replace="~{bannedwordsgood/list_all_com::list_all_fragment}"></div> 
'/bannedwordsgood/list_all_com.html' 파일의 list_all_fragment를 가져다 사용
*/-->
<div th:fragment="list_all_fragment"> 
  <table class="table table-hover" style="width: 100%;">
    <colgroup>
      <col style='width: 10%;'/>
      <col style='width: 10%;'/>
      <col style='width: 10%;'/>
      <col style='width: 30%;'/>    
      <col style='width: 10%;'/>
      <col style='width: 10%;'/>
      <col style='width: 10%;'/>
      <col style='width: 10%;'/>
    </colgroup>
    <thead>
      <tr>
        <th class="th_bs">순서</th>
        <th class="th_bs">등록일(추천일)</th>
        <th class="th_bs">금지단어 번호</th>
        <th class="th_bs">금지단어</th>
        <th class="th_bs">회원 번호</th>
        <th class="th_bs">아이디</th>
        <th class="th_bs">회원 성명</th>
        <th class="th_bs">기타</th>
      </tr>
    </thead>
    <tbody>
      <tr th:each="bannedwordsBannedwordsgoodMemberVO, status:${list}">
        <td class="td_bs" th:text="|${status.index+1}|"></td>
        <td class="td_bs" th:text="${bannedwordsBannedwordsgoodMemberVO.rdate.substring(0, 10)}"></td>
        <td class="td_bs" th:text="${bannedwordsBannedwordsgoodMemberVO.wordno}"></td>
        <td class="td_bs" th:text="${bannedwordsBannedwordsgoodMemberVO.b_title}"></td>
        <td class="td_bs" th:text="${bannedwordsBannedwordsgoodMemberVO.memberno}"></td>
        <td class="td_bs" th:text="${bannedwordsBannedwordsgoodMemberVO.id}"></td>
        <td class="td_bs" th:text="${bannedwordsBannedwordsgoodMemberVO.name}"></td>
        <td class="td_bs">
          <a href="#" th:onclick="'delete_good(event, ' + ${bannedwordsBannedwordsgoodMemberVO.goodno} + ');'"><img src="/bannedwordsgood/images/delete.png" class="icon" title="삭제"></a>
        </td>
      </tr>
    </tbody>
  </table>
  <script>
    function delete_good(e, goodno) {
      let sw = confirm(goodno + '번 글 삭제를 하시겠습니까?\n삭제하면 복구 할 수 없습니다.');
      if (sw == true) {
        document.querySelector('#goodno').value = goodno;
        document.querySelector('#frm').submit();
      }
    }
  </script>
  <form name="frm" id="frm" method="post" action="/bannedwordsgood/delete">
    <input type="hidden" name="goodno" id="goodno">
  </form>
  
</div>