<!DOCTYPE html>
<html layout:decorate="~{layout}"> <!-- layout.html 상속 -->
<div layout:fragment="content">
  <div class='title_line'>요청사항 작성하기</div>
  
  <aside class="aside_right">
    <a href="javascript:location.reload();">새로고침</a>
    <span class='menu_divide'>│</span>
    <a th:href="@{/board/list_by_boardno_search_paging}">목록</a>
  </aside>
  
  <div class='menu_line'></div>
  
  <form name="frm" method="post" th:object="${BoardVO}" th:action="@{/board/create}" enctype="multipart/form-data">
    <input type="hidden" name="memberno" th:value="${BoardVO?.memberno ?: 1}">

    <div>
        <label>제목</label>
        <input type="text" name="title" th:value="${BoardVO?.title ?: ''}" required="required"
               autofocus="autofocus" class="form-control" style="width: 100%;">
    </div>
    <div>
        <label>내용</label>
        <textarea name="bcontent" th:text="${BoardVO?.bcontent ?: ''}" required="required"
                  class="form-control" rows="12" style="width: 100%;"></textarea>
    </div>
    <div>
      <label>게시글 종류</label>
      <select id="board_cate" name="board_cate" class="form-control" required="required">
          <!-- 기본값 -->
          <option value="" selected="selected">게시글 종류</option>
          <option th:value="금지단어">금지단어</option>
          <option th:value="문의사항">문의사항</option>
      </select>
      
      <div th:if="${#fields.hasErrors('board_cate')}" class="alert alert-danger" role="alert" style="margin-top: 5px;">
        <div th:each="err: ${#lists.sort(#fields.errors('board_cate'))}" th:text="${err}"></div>
      </div>
    </div>

    <div>
        <label>파일 선택</label>
        <input type="file" class="form-control" name="file1MF" id="file1MF"
               th:value="${BoardVO?.file1 ?: ''}" placeholder="파일 선택">
    </div>

    <div class="content_body_bottom">
        <button type="submit" class="btn btn-secondary btn-sm">등록</button>
        <button type="button" th:attr="onclick=|location.href='/board/list_by_boardno_search_paging'|"
                class="btn btn-secondary btn-sm">목록</button>
    </div>
  </form>

</div>
</html>
