<!DOCTYPE html>
<html layout:decorate="~{layout}"> <!-- layout.html 상속 -->
<div layout:fragment="content">
  <div class='title_line'>
    <span th:text="${boardVO?.board_cate ?: '게시글 종류'}" class="title_line_text"></span>
    > 글 조회
  </div>

  <aside class="aside_right" th:if="${session?.role != 1}">
    <a href="javascript:location.reload();">새로고침</a>
    <span class='menu_divide'>│</span>
    <a th:href="@{/board/list_all}">목록</a>
    <span class='menu_divide'>│</span>
    <a th:href="@{/board/create}">등록</a>
    <span class='menu_divide'>│</span>
    <a th:href="@{|/board/update_text?boardno=${boardVO.boardno}&now_page=${now_page}|}">글 수정</a>
    <span class='menu_divide'>│</span>
    <a th:href="@{|/board/update_file?boardno=${boardVO.boardno}&now_page=${now_page}|}">파일 수정</a>
    <span class='menu_divide'>│</span>
    <a th:href="@{|/board/delete?boardno=${boardVO.boardno}&now_page=${now_page}|}">삭제</a>
  </aside>

  <aside class="aside_right" th:if="${session?.role != 1}">
    <a href="javascript:location.reload();">새로고침</a>
    <span class='menu_divide'>│</span>
    <a th:href="@{/board/list_all}">목록</a>
    <span class='menu_divide'>│</span>
    <a th:href="@{/reply/read}">댓글보기</a>
  </aside>

  <div class='menu_line'></div>

  <fieldset class="fieldset_basic">
    <ul>
      <li class="li_none">
        <div style="width: 100%; word-break: break-all;">
          <!-- 이미지가 있는 경우만 출력 -->
          <div th:if="${boardVO.file1saved != null}">
            <img th:src="@{|/upload/${boardVO.file1saved}|}" 
                 style='width: 50%; float: left; margin-top: 0.5%; margin-right: 1%;'>
          </div>

          <!-- 제목 및 작성일 -->
          <span style="font-size: 1.5em; font-weight: bold;" th:text="${boardVO.title}"></span>
          <span style="font-size: 1em;" th:text="${boardVO.rdate}"></span><br><br>

          <!-- 본문 내용 -->
          <div style="white-space: pre-wrap;"><span th:text="${boardVO.bcontent}"></span></div>
        </div>
      </li>

      <!-- 작성자 정보 -->
      <li class="li_none">
        작성자: <span th:text="${memberVO?.nickname ?: '알 수 없음'}"></span> <br>
        이메일: <span th:text="${memberVO?.email ?: '알 수 없음'}"></span> <br>
      </li>

      <!-- 첨부 파일 정보 -->
      <li class="li_none" style="clear: both; padding-top: 10px; padding-bottom: 25px;" th:if="${boardVO.file1saved != null}">
        <div>
          첨부 파일: 
          <a th:href="@{|/download?dir=/upload&filename=${boardVO.file1saved}&downname=${boardVO.file1}|}" 
             th:text="${boardVO.file1}"></a>
          <span th:text="|(${boardVO.size1_label})|"></span>
        </div>
      </li>
    </ul>
  </fieldset>
</div>
</html>
