<!DOCTYPE html>
<html layout:decorate="~{layout}"> <!-- layout.html 상속 -->
<div layout:fragment="content">
  <div class='title_line'>
    <span th:text="${boardVO?.board_cate ?: '요청사항'}" class="title_line_text"></span>
    > 글 조회
  </div>

  <aside class="aside_right" th:if="${session?.gradle != 'admin'}">
    <a href="javascript:location.reload();">새로고침</a>
    <span class='menu_divide'>│</span>
    <a th:href="@{/board/list_by_boardno_search_paging}">목록</a>
    <span class='menu_divide'>│</span>
    <a th:href="@{/board/create}">등록</a>
    <span class='menu_divide'>│</span>
    <a th:href="@{|/board/update_text?boardno=${boardVO.boardno}&now_page=${now_page}|}">글 수정</a>
    <span class='menu_divide'>│</span>
    <a th:href="@{|/board/update_file?boardno=${boardVO.boardno}&now_page=${now_page}|}">파일 수정</a>
    <span class='menu_divide'>│</span>
    <a th:href="@{|/board/delete?boardno=${boardVO.boardno}&now_page=${now_page}|}">삭제</a>
    <span class='menu_divide'>│</span>
    <a th:href="@{/reply/read}">댓글보기</a>
  </aside>
    
  <div class='menu_line'></div>

  <fieldset class="fieldset_basic">
    <ul>
      <li class="li_none">
        <div style="width: 100%; word-break: break-all;">
          <!-- 이미지 -->
          <div th:if="${boardVO.file1.endsWith('jpg') or boardVO.file1.endsWith('png')  or boardVO.file1.endsWith('gif')}">
            <img th:src="@{|/board/storage/${boardVO.file1saved}|}" style='width: 50%; float: left; margin-top: 0.5%; margin-right: 1%;'>
          </div>

          <!-- 게시글 제목 -->
          <span style="font-size: 1.5em; font-weight: bold;" th:text="${boardVO.title}"></span>
          <span style="font-size: 1em;" th:text="${boardVO.rdate}"></span><br><br>

          <!-- 게시글 내용 -->
          <div style="white-space: pre-wrap;"><span th:text="${boardVO.bcontent}"></span></div>
        </div>
      </li>

      <!-- 회원 정보 -->
      <li class="li_none">
        작성자: <span th:text="${memberVO?.nickname ?: '알 수 없음'}"></span> <br>
        이메일: <span th:text="${memberVO?.email ?: '알 수 없음'}"></span> <br>
      </li>

      <li class="li_none">
        추천: <span th:text="${boardVO.goodcnt}"></span>
        <a th:href="@{|/board/update_goodcnt/${boardVO.boardno}?board_cate=${board_cate}&now_page=${now_page}|}">
          <img src="/board/images/png-clipart-laugh-emoji-emoticon-facebook-like-button-facebook-smiley-circle-thumbnail.png" class="icon" title="추천수">
        </a>
        비추천: <span th:text="${boardVO.badcnt}"></span>
        <a th:href="@{|/board/update_badcnt/${boardVO.boardno}?board_cate=${board_cate}&now_page=${now_page}|}">
          <img src="/board/images/png-clipart-social-media-facebook-emoji-like-button-emoticon-sad-emoji-sad-emoji-icon-face-head-thumbnail.png" class="icon" title="비추천">
        </a>
      </li>



      <!-- 파일 -->
      <li class="li_none" th:if="${boardVO.size1 > 0}">
        <div>
            첨부 파일: 
            <a th:href='@{|/download?dir=/board/storage&filename=${boardVO.file1saved}&downname=${boardVO.file1}|}'
               th:text='|${boardVO.file1}|'></a> 
            <span th:text="|(${boardVO.size1_label})|"></span>  
            <a th:href='@{|/download?dir=/board/storage&filename=${boardVO.file1saved}&downname=${boardVO.file1}|}'>
                <img th:src="@{/board/images/download.png}" class="icon" title="download">
            </a>
        </div>
      </li>   
    </ul>
  </fieldset>
</div>
</html>