<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layout}">
<head>
    <link rel="stylesheet" type="text/css" th:href="@{/css/mypage.css}">
</head>
<body>
    <div class="container">
        <div class="sidebar">
            <a th:href="@{/member/mypage}">개인정보 수정</a>
            <a th:href="@{/member/inquiries}">문의글</a>
            <a th:href="@{/member/delete_account}">회원 탈퇴</a>
        </div>
        <div class="content">
            <div class='title_line'>
                <span class="title_line_text">회원 탈퇴</span>
            </div>
            <div class="alert alert-warning">
                회원 탈퇴를 하시게 된다면 서비스 이용이 제한되며, 3개월 동안 회원 정보를 저장하고 있으며, 그 이후에는 삭제됩니다.
            </div>
            <form name='frm' method='POST' action='./delete_account'>
                <div class="form-group">
                    <button type="submit" class="btn btn-danger">회원 탈퇴</button>
                </div>
            </form>
        </div>
    </div>
</body>
</html>