<!DOCTYPE html>
<html layout:decorate="~{layout}"> <!-- layout.html 상속 -->

<div layout:fragment="content">
  <style>
    .profile-image-wrapper {
      display: flex;
      justify-content: center;
      margin-bottom: 20px;
    }
    .profile-image {
      border-radius: 50%;
      width: 150px;
      height: 150px;
      object-fit: cover;
    }
    .form-group {
      margin-bottom: 20px;
    }
    .info-box {
      text-align: center;
      margin-bottom: 20px;
    }
  </style>

  <div class="title_line">마이페이지</div>
  <aside class="aside_right">
    <a href="javascript:location.reload();">새로고침</a>
    <span class='menu_divide' th:if="${session.id == memberVO.id}">│</span> 
    <a href='/member/update_passwd' th:if="${session.id == memberVO.id}">비밀번호 변경</a>
    <span class='menu_divide' th:if="${session.id == memberVO.id}">│</span>
    <a href="/member/withdraw" th:if="${session.id == memberVO.id}">회원 탈퇴</a>
  </aside>

  <div class='menu_line'></div>

  <div style="width: 60%; margin: 0px auto">
    <div class="info-box">
      <div>등급: <img th:src="/images/${memberVO.grade}.png" style='width: 30px;'></div>
      <div>닉네임: <span th:text="${memberVO.nickname}">닉네임</span></div>
    </div>
    
    <div class="profile-image-wrapper">
      <div th:if="${memberVO.file1saved != 'default.png' and (memberVO.file1saved.endsWith('jpg') or memberVO.file1saved.endsWith('png') or memberVO.file1saved.endsWith('gif'))}">
        <img th:src="@{|/member/storage/${memberVO.file1saved}|}" class="profile-image">
      </div>
      <div th:if="${memberVO.file1saved == 'default.png' or memberVO.size1 == 0}">
        <img th:src="@{/images/default.png}" class="profile-image">
      </div>
    </div>
    
    <form th:action="@{/member/mypage}" method="post" enctype="multipart/form-data">
      <div class="form-group">
        <label for="pf_imgMF">프로필 이미지 변경</label>
        <input type='file' name='pf_imgMF' id='pf_imgMF' class="form-control">
      </div>

      <div class="content_body_bottom">
        <button type="submit" class="btn btn-primary btn-sm">프로필 수정</button>
        <button type="button" onclick="history.back();" class="btn btn-secondary btn-sm">취소</button>
      </div>
    </form>
  </div>
</div>
</html>