<!DOCTYPE html>
<html layout:decorate="~{layout}"> <!-- layout.html 상속-->
<head>
    <meta charset="UTF-8">
    <title>회원 목록</title>
    <!-- CSS 파일 링크 추가 -->
    <link rel="stylesheet" href="/css/style.css"> <!-- CSS 파일 경로 -->
    <link rel="stylesheet" href="/css/member.css"> <!-- CSS 파일 경로 -->
</head>
<body>
<div layout:fragment="content">

  <div class="title_line">개인정보 보기 > <span th:text="@{|${memberVO.name} (${memberVO.id})|}"></span></div>
  <aside class="aside_right">
    <a href="javascript:location.reload();">새로고침</a>
    <span class='menu_divide'>│</span>
    <a href='/member/read'>개인정보 보기</a> 
    <span class='menu_divide'>│</span>
    <a href='/member/update'>회원정보 수정</a> 
    <span class='menu_divide'>│</span>
    <a href='/member/update_file'>프로필 변경</a>
    <span class='menu_divide'>│</span>
    <a href='/member/unsub_delete'>회원 탈퇴</a>
  </aside> 

  <div class='menu_line'></div>
  
  <div class="form-group" style="text-align: center;">
      <label>프로필</label>
      <div th:if="${memberVO.pf_img.endsWith('jpg') or memberVO.pf_img.endsWith('png') or memberVO.pf_img.endsWith('gif')}">
          <img th:src="@{|/member/storage/${memberVO.file1saved}|}" style='width: 200px; border: 2px solid black; border-radius: 10px;'>
      </div>
      <div th:if="${memberVO.size1 == 0}" style="text-align: center; width: 100%;">
        <img src="/images/default.png" style="width: 200px; border: 2px solid black; border-radius: 10px;">
      </div>
  </div>

  
  <div style="width: 60%; margin: 0 auto; text-align: center;">
    <form name="frm" id="frm" th:object="${memberVO}" method="post" action="/member/update">
      <input type="hidden" name="memberno" th:value="${memberVO.memberno}">
        <div class="form-group" style="display: inline-block;">
          <label for="id">아이디 및 등급
            <div th:if="${memberVO.gradeno == 1}">
              <img src="/images/grade/1.png" style='width: 7%; border: 2px solid black; border-radius: 10px;' title="관리자">
            </div>
            <div th:if="${memberVO.gradeno == 2}">
              <img th:src="@{/images/grade/2.png}" style='width: 7%; border: 2px solid black; border-radius: 10px;' title="씨앗 회원">
            </div>
            <div th:if="${memberVO.gradeno == 3}">
                <img th:src="@{/images/grade/3.png}" style='width: 7%; border: 2px solid black; border-radius: 10px;' title="새싹1 회원">
            </div>
            <div th:if="${memberVO.gradeno == 4}">
                <img th:src="@{/images/grade/4.png}" style='width: 7%; border: 2px solid black; border-radius: 10px;' title="새싹2 회원">
            </div>
            <div th:if="${memberVO.gradeno == 5}">
                <img th:src="@{/images/grade/5.png}" style='width: 7%; border: 2px solid black; border-radius: 10px;' title="묘목 회원">
            </div>
            <div th:if="${memberVO.gradeno == 6}">
                <img th:src="@{/images/grade/6.png}" style='width: 7%; border: 2px solid black; border-radius: 10px;' title="나무 회원">
            </div>
            <div th:if="${memberVO.gradeno == 7}">
                <img th:src="@{/images/grade/7.png}" style='width: 7%; border: 2px solid black; border-radius: 10px;' title="열매나무 회원">
            </div>
            <div th:if="${memberVO.gradeno == 10}">
                <img th:src="@{/images/grade/8.png}" style='width: 7%; border: 2px solid black; border-radius: 10px;' title="세계수 나뭇가지 회원">
            </div>
            <div th:if="${memberVO.gradeno == 11}">
                <img th:src="@{/images/grade/9.png}" style='width: 7%; border: 2px solid black; border-radius: 10px;' title="세계수 묘목 회원">
            </div>
            <div th:if="${memberVO.gradeno == 12}">
                <img th:src="@{/images/grade/10.png}" style='width: 7%; border: 2px solid black; border-radius: 10px;' title="세계수 회원">
            </div>
          </label>
          <input type='text' name='id' id='id' th:value='${memberVO.id}' readonly
                   class="form-control form-control-sm" style="width: 30%; padding: 0.375rem 0.75rem; border-radius: 0.25rem; box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); text-align: center; margin-left: 35%;">
          <span id="id_msg"></span>
        </div>
          
        <div class="form-group">
          <label for="name">이름</label>
          <input type='text' name='name' id='id' th:value='${memberVO.name}' readonly 
               class="form-control form-control-sm" style="width: 30%; padding: 0.375rem 0.75rem; border-radius: 0.25rem; box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); text-align: center; margin-left: 35%;">
        </div>
        
        <div class="form-group">
          <label for="birth">생년월일</label>
          <input type='text' name='birth' id='birth' th:value="${#strings.substring(memberVO.birth,0,4)} + '-' + ${#strings.substring(memberVO.birth,4,6)} + '-' + ${#strings.substring(memberVO.birth,6,8)}"
                 class="form-control form-control-sm" style="width: 30%; padding: 0.375rem 0.75rem; border-radius: 0.25rem; box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); text-align: center; margin-left: 35%;" readonly>
        </div>
        
        <div class="form-group">
          <label for="nickname">닉네임</label>
          <input type='text' name='nickname' id='nickname' th:value='${memberVO.nickname}' readonly
               class="form-control form-control-sm" style="width: 30%; padding: 0.375rem 0.75rem; border-radius: 0.25rem; box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); text-align: center; margin-left: 35%;">
        </div>
        
        <div class="form-group">
          <label for="email">이메일*</label>
          <input type='text' name='email' id='email' th:value='${memberVO.email}' readonly 
               class="form-control form-control-sm" style="width: 30%; padding: 0.375rem 0.75rem; border-radius: 0.25rem; box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); text-align: center; margin-left: 35%;">
        </div>
        
        <div class="form-group">
          <label for="phone">전화번호*</label>
          <input type='text' name='phone' id='phone' th:value='${memberVO.phone}' readonly 
               class="form-control form-control-sm" style="width: 30%; padding: 0.375rem 0.75rem; border-radius: 0.25rem; box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); text-align: center; margin-left: 35%;">
        </div>
        
        <div class="form-group"> 
          <label for="zipcode">우편 번호:</label>
          <input type='text' name='zipcode' id='zipcode' th:value='${memberVO.zipcode}' readonly
               class="form-control form-control-sm" style="width: 30%; padding: 0.375rem 0.75rem; border-radius: 0.25rem; box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); text-align: center; margin-left: 35%;">
        </div>
    
        <div class="form-group">
          <label for="address1" style="width: 100%;">주소</label>
          <input type='text' name='address1' id='address1' th:value='${memberVO.address1}' readonly
                     class="form-control form-control-sm" style="width: 30%; padding: 0.375rem 0.75rem; border-radius: 0.25rem; box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); text-align: center; margin-left: 35%;">
        </div>   
    
        <div class="form-group">
          <label for="address2" style="width: 100%;">상세 주소</label>
          <input type='text' name='address2' id='address2' th:value='${memberVO.address2}' readonly
                    class="form-control form-control-sm" style="width: 30%; padding: 0.375rem 0.75rem; border-radius: 0.25rem; box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); text-align: center; margin-left: 35%;">
        </div>
        
        <div class="content_body_bottom">
          <button type="button" onclick="history.back();" class="btn btn-secondary btn-sm" style="margin-left: 10px;">돌아가기</button>
        </div>
    </form>
  </div>
</div>
</body>
</html>
