<!DOCTYPE html>

<html layout:decorate="~{layout}"> <!-- layout.html 상속-->

<div layout:fragment="content">
  <script>
    window.onload = () => {
      
    }
    
    function send() { // 회원 탈퇴 처리
      document.getElementById('frm').submit(); // required="required" 작동 안됨.
    }    
  </script>

  <div class="title_line">회원 탈퇴 > <span th:text="@{|${memberVO.email} (${memberVO.id})|}"></span></div>
  <aside class="aside_right">
    <a href="javascript:location.reload();">새로고침</a>
    <span class='menu_divide' th:if="${session.id == memberVO.id}">│</span>
    <a href='/member/read' th:if="${session.id == memberVO.id}">개인정보 보기</a> 
    <span class='menu_divide' th:if="${session.id == memberVO.id}">│</span>
    <a href='/member/update' th:if="${session.id == memberVO.id}">회원정보 수정</a> 
    <span class='menu_divide' th:if="${session.id == memberVO.id}">│</span>
    <a href='/member/update_file' th:if="${session.id == memberVO.id}">프로필 변경</a>  
    <span class='menu_divide' th:if="${session.id == memberVO.id}">│</span>
    <a href='/member/unsub_delete' th:if="${session.id == memberVO.id}">회원 탈퇴</a>
  </aside>

  <div class='menu_line'></div>
  
  <div style="width: 60%; margin: 0px auto ">
    <form name="frm" id="frm" th:object="${memberVO}" method="post" action="/member/unsub_delete">
      <input type="hidden" name="memberno" th:value="${memberVO.memberno}">
      
      <div class="msg_warning">회원 탈퇴하시면 복구 할 수 없습니다.<br>그래도 탈퇴하시겠습니까?</div>
      <div style='text-align: center;'>회원 아이디: <span th:text="${memberVO.id}"></span></div>
      <div style='text-align: center;'>회원 이메일: <span th:text="${memberVO.email}"></span></div>
      
      <div class="content_body_bottom">
        <button type="button" onclick="send();" class="btn btn-secondary btn-sm">탈퇴</button>
        <button type="button" onclick="history.back();" class="btn btn-secondary btn-sm">돌아가기</button>
      </div>

    </form>
  </div>
    
</div>
</html>

