<!DOCTYPE html>
<html layout:decorate="~{layout}"> <!-- layout.html 상속-->

<div layout:fragment="content">
<script>
    window.onload = () => {
      document.querySelector('#id').addEventListener('keypress', (event) => {
        if(event.key === 'Enter') {
          document.getElementById('btn_checkID').focus();
        }
      }); 

      document.querySelector('#email').addEventListener('keypress', (event) => {
        if(event.key === 'Enter') {
          document.getElementById('btn_checkEmail').focus();
        }
      }); 
  
      document.querySelector('#nickname').addEventListener('keypress', (event) => {
        if(event.key === 'Enter') {
          document.getElementById('zipcode').focus();
        }
      });
      
      document.querySelector('#address2').addEventListener('keypress', (event) => {
        if(event.key === 'Enter') {
          document.getElementById('btn_send').focus();
        }
      }); 
    }
    
    // 중복 아이디 검사
    function checkID() {
      let id = document.getElementById('id');
      let id_msg = document.getElementById('id_msg');
  
      if (id.value.trim().length == 0) {
        id_msg.innerHTML= 'ID 입력은 필수 입니다. ID(이메일)는 3자이상 권장합니다.';
        id_msg.classList.add('span_warning');
        id.focus();
        return false;        
      } else {
        id_msg.classList.remove('span_warning');
        let url = './checkID?id=' + id.value;
    
        fetch(url, {
            method: 'GET',
        })
        .then(response => response.json())
        .then(rdata => {
          if (rdata.cnt > 0) {
            id_msg.innerHTML= '이미 사용중인 ID(이메일) 입니다. 다른 ID(이메일)을 지정해주세요.';
            id_msg.classList.add('span_warning');
            id_msg.classList.remove('span_info');
            id.focus();              
          } else {
            id_msg.innerHTML= '사용 가능한 ID(이메일) 입니다.';
            id_msg.classList.add('span_info');
            document.getElementById('email').focus(); 
          }
        })
        .catch(error => {
            console.error('Error:', error);
        });
        id_msg.innerHTML="<img src='/images/progress.gif' style='width: 5%;'>";
      }
    }

    // 중복 이메일 검사
    function checkEmail() {
      let email = document.getElementById('email');
      let email_msg = document.getElementById('email_msg');

      if (email.value.trim().length == 0) {
        email_msg.innerHTML= '이메일 입력은 필수 입니다.';
        email_msg.classList.add('span_warning');
        email.focus();
        return false;
      } else {
        email_msg.classList.remove('span_warning');
        let url = './checkEmail?email=' + email.value;

        fetch(url, {
            method: 'GET',
        })
        .then(response => response.json())
        .then(rdata => {
          if (rdata.cnt > 0) {
            email_msg.innerHTML= '이미 사용중인 이메일 입니다. 다른 이메일을 지정해주세요.';
            email_msg.classList.add('span_warning');
            email_msg.classList.remove('span_info');
            email.focus();
          } else {
            email_msg.innerHTML= '사용 가능한 이메일 입니다.';
            email_msg.classList.add('span_info');
            document.getElementById('passwd').focus();
          }
        })
        .catch(error => {
            console.error('Error:', error);
        });
        email_msg.innerHTML="<img src='/images/progress.gif' style='width: 5%;'>";
      }
    }
    
    function send() {
      let id = document.getElementById('id');
      let id_msg = document.getElementById('id_msg');
  
      if (id.value.trim().length == 0) {
        id_msg.innerHTML= 'ID 입력은 필수 입니다. ID(이메일)는 3자이상 권장합니다.';
        id_msg.classList.add('span_warning');
        id.focus();
        return false;
      }
  
      let email = document.getElementById('email');
      let email_msg = document.getElementById('email_msg');
  
      if (email.value.trim().length == 0) {
        email_msg.innerHTML= '이메일 입력은 필수 입니다.';
        email_msg.classList.add('span_warning');
        email.focus();
        return false;
      }
 
      let nickname = document.getElementById('nickname');
      let nickname_msg = document.getElementById('nickname_msg');
  
      if (nickname.value.length == 0) {
        nickname_msg.innerHTML= '닉네임 입력은 필수입니다.';
        nickname_msg.classList.add('span_warning');
        nickname.focus();
        return false;
      }
  
      document.getElementById('frm').submit();
    }    
  </script>

  <div class="title_line">개인정보 수정(*: 필수)</div>
  <aside class="aside_right">
    <a href="javascript:location.reload();">새로고침</a>
    <span class='menu_divide' >│</span> 
    <a href='./mypage'>프로필</a>
    <span class='menu_divide'>│</span> 
    <a th:href="@{/member/update_information}">개인정보 수정</a>
    <span class='menu_divide'>│</span> 
    <a th:href="@{/member/inquiries}">내 문의글</a>
    <span class='menu_divide'>│</span> 
    <a th:href="@{/member/delete_account}">회원 탈퇴</a>
  </aside>

  <div class='menu_line'></div>
  
  <div style="width: 60%; margin: 0px auto ">
    <form name="frm" id="frm" th:object="${memberVO}" method="post" action="/member/update_information">
      <div>
        <label for="id">아이디(이메일)*</label>
        <input type="text" name="id" id="id" th:value="${memberVO.id}" autofocus="autofocus"
               class="form-control fom-control-sm" style="width: 50%;">
        <button type='button' id="btn_checkID" onclick="checkID()" 
                     class="btn btn-primary btn-sm" style="margin-top: 4px;">중복확인</button>
        <span id='id_msg'></span>  
      </div>
      
      <div class="form-group">
        <label for="passwd_update">비밀번호 변경</label>
        <div>
          <a th:href="@{/member/passwd_update}" class="btn btn-warning btn-sm" style="margin-top: 4px;">비밀번호 변경</a>
        </div>
      </div>
      
      <div>
        <label for="email">이메일*</label>
        <input type="text" name="email" id="email" th:value="${memberVO.email}"
               class="form-control fom-control-sm" style="width: 50%;">
        <button type='button' id="btn_checkEmail" onclick="checkEmail()" 
                     class="btn btn-primary btn-sm" style="margin-top: 4px;">중복확인</button>
        <span id='email_msg'></span>  
      </div>

      <div class="form-group">
        <label for="nickname">닉네임*</label>
        <input type='text' name='nickname' id='nickname' th:value="${memberVO.nickname}" required="required" 
                   placeholder="닉네임" class="form-control form-control-sm" style="width: 30%;">
        <span id='nickname_msg'></span>
      </div>   
  
      <div class="form-group">
        <label for="zipcode">우편 번호</label>
        <input type='text' name='zipcode' id='zipcode' th:value="${memberVO.zipcode}" placeholder="우편번호"
                  class="form-control form-control-sm" style="width: 30%;">
        <button type="button" id="btn_DaumPostcode" onclick="DaumPostcode()" 
                  class="btn btn-primary btn-sm" style="margin-top: 4px;">우편번호 찾기</button>
      </div>  
  
      <div class="form-group">
        <label for="address1" style="width: 100%;">주소</label>
        <input type='text' name='address1' id='address1' th:value="${memberVO.address1}" placeholder="주소"
                   class="form-control form-control-sm">
      </div>   
  
      <div class="form-group">
        <label for="address2" style="width: 100%;">상세 주소</label>
        <input type='text' name='address2' id='address2' th:value="${memberVO.address2}" placeholder="상세 주소"
                  class="form-control form-control-sm">
      </div>   

<!-- ------------------------------ DAUM 우편번호 API 시작 ------------------------------ -->
    <div>
<div id="wrap" style="display:none;border:1px solid;width:500px;height:300px;margin:5px 0;position:relative">
<img src="//t1.daumcdn.net/postcode/resource/images/close.png" id="btnFoldWrap" style="cursor:pointer;position:absolute;right:0px;top:-1px;z-index:1" onclick="foldDaumPostcode()" alt="접기 버튼">
</div>

<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script>
    var element_wrap = document.getElementById('wrap');

    function foldDaumPostcode() {
        element_wrap.style.display = 'none';
    }

    function DaumPostcode() {
        var currentScroll = Math.max(document.body.scrollTop, document.documentElement.scrollTop);
        new daum.Postcode({
            oncomplete: function(data) {
                var addr = '';
                var extraAddr = '';

                if (data.userSelectedType === 'R') {
                    addr = data.roadAddress;
                } else {
                    addr = data.jibunAddress;
                }

                document.getElementById('zipcode').value = data.zonecode;
                document.getElementById("address1").value = addr;
                document.getElementById("address2").innerHTML="";
                document.getElementById("address2").focus();
                element_wrap.style.display = 'none';
                document.body.scrollTop = currentScroll;
            },
            onresize : function(size) {
                element_wrap.style.height = size.height+'px';
            },
            width : '100%',
            height : '100%'
        }).embed(element_wrap);
        element_wrap.style.display = 'block';
    }
</script>

    </div>
<!-- ------------------------------ DAUM 우편번호 API 종료 ------------------------------ -->

      <div class="content_body_bottom">
        <button type="button" onclick="send();" class="btn btn-secondary btn-sm">수정</button>
        <button type="button" onclick="history.back();" class="btn btn-secondary btn-sm">취소</button>
      </div>
    </form>
  </div>
    
</div>

</html>