<!DOCTYPE html>

<html layout:decorate="~{layout}"> <!-- layout.html 상속-->
<div layout:fragment="content">
  <div class="title_line">
    <span th:text="${surveyVO?.topic ?: '설문조사'}" class="title_line_text"></span>
    > 글 삭제
  </div>
  
  <aside class="aside_right">
    <a th:href="@{/survey/create}">등록</a>
    <span class='menu_divide' >│</span>
    <a href="javascript:location.reload();">새로고침</a>
    <span class='menu_divide' >│</span>
    <a th:href="@{|./list_by_surveyno_search_paging?surveyno=${surveyVO.surveyno }&is_continue=${is_continue }&now_page=${now_page}|}">목록</a>
  </aside>
  
  <div class='menu_line'></div>
  
  <fieldset class="fieldset_basic">
    <ul>
      <li class="li_none">
        <div th:if="${surveyVO.file1.endsWith('jpg') or surveyVO.file1.endsWith('png')  or surveyVO.file1.endsWith('gif')}"
               style="text-align: center; width: 50%; float: left;">
          <img th:src="@{|/survey/storage/${surveyVO.file1saved}|}" style="width: 90%;">
        </div>

        <div th:if="${((surveyVO.file1.endsWith('jpg') or surveyVO.file1.endsWith('png')  or surveyVO.file1.endsWith('gif')) == false) and (surveyVO.size1 > 0)}"
               class="display_table" style="float: left; width: 50%;">
            <div class="display_table_cell">
              <span th:text="${surveyVO.file1}"></span>
            </div>
        </div>

        <div th:if="${surveyVO.size1 == 0}" style="text-align: center; width: 50%; float: left;">
          <img src="/survey/images/none1.png" style="width: 90%;">
        </div>
  
        <div style='text-align: left; width: 47%; float: left;'>
          <span style='font-size: 1.5em;' th:text="${surveyVO.topic}"></span>
          <br>
          <form name='frm' method='POST' action='/survey/delete'>
            <input type="hidden" name="surveyno" th:value="${surveyVO.surveyno }">
            <input type="hidden" name="now_page" th:value="${now_page}">
            <input type="hidden" name="is_continue" th:value="${is_continue}">
                
            <br> 
            <div style='margin-top: 20px; clear: both;'>
              <span style="color: #FF0000; font-weight: bold;">삭제를 진행 하시겠습니까? 삭제하시면 복구 할 수 없습니다.</span>
              <br><br><br>  
              <button type="submit" class="btn btn-secondary btn-sm">삭제</button>
              <button type="button" onclick="history.back();" class="btn btn-secondary btn-sm">취소</button>
            </div>  
          </form>
        </div>
      </li>
    </ul>
  </fieldset>  

</div>

</html>