<!DOCTYPE html>
<html layout:decorate="~{layout}">
  <div layout:fragment="content">
    <div class="title_line">카테고리 및 자료 삭제</div>
    
    <aside class="aside_right">
      <a th:href="@{/survey/create}">등록</a>
      <span class='menu_divide' >│</span>
      <a href="javascript:location.reload();">새로고침</a>
      <span class='menu_divide' >│</span>
      <a th:href="@{|./list_by_surveyno_search_paging?surveyno=${surveyVO.surveyno }&is_continue=${is_continue }&now_page=${now_page}|}">목록</a>
    </aside>
  
    
    <!-- '/cate/list_search_com.html' 파일의 list_search_fragment를 가져다 사용 -->
    <div th:replace="~{survey/list_search_com::list_search_fragment}"></div> 
    
    <div class="menu_line"></div>
    
    <div style="width: 50%; margin: 0px auto;">  
      <form name="frm" method="post" action="/survey/msg" style="text-align: center;" th:object="${surveyVO}">
        <input type="hidden" name="surveyno" th:value="${surveyVO.surveyno}"> <!-- 값 유지 -->
        <input type="hidden" name="is_continue" th:value="${is_continue}"> <!-- 값 유지 -->
        <input type="hidden" name="now_page" th:value="${now_page}"> <!-- 값 유지 -->
  
        <div class="msg_warning">
          해당 설문조사에 포함된 자료가 <span th:text="${cnt}"></span>개 있습니다.<br>
          관련 자료와 설문조사를 모두 삭제하겠습니까?
        </div>
        <div style="width: 60%; margin: 0px auto; background-color: #DDDDDD;">
          <label>설문조사 주제</label>: <span th:text="${surveyVO.topic}"></span><br>
          <label>설문조사 진행여부</label>: <span th:text="${surveyVO.is_continue}"></span>
            <!--<a th:href="@{|./list_by_surveyno_search_paging?surveyno=${surveyVO.surveyno }&is_continue=${is_continue }&now_page=${now_page}|}">
              <img th:src="@{/survey/images/delete.png}" alt="Go" style="cursor: pointer; width: 35px; height: auto;">
            </a><br>-->
        </div>
          
        <div class="content_body_bottom">
          <button type="submit" class="btn btn-secondary btn-sm">모두 삭제</button>
          <button type="button" onclick="history.back();" class="btn btn-secondary btn-sm">취소</button>
        </div>
      </form>
      <div th:replace="~{survey/list_search_com::list_all_fragment}"></div> 
    </div>
  </div>
</html>
