<!DOCTYPE html>
<html layout:decorate="~{layout}">
<div layout:fragment="content">
  <div class="title_line">
    <span th:text="${surveyVO?.is_continue ?: '요청사항'}" class="title_line_text"></span>
    > 글 조회
  </div>

  <aside class="aside_right" th:if="${session?.gradle != 1}">
    <a href="javascript:location.reload();">새로고침</a>
    <span class="menu_divide">│</span>
    <a th:href="@{/survey/list_all}">목록</a>
    <span class="menu_divide">│</span>
    <a th:href="@{/survey/create}">등록</a>
    <span class="menu_divide">│</span>
    <a th:href="@{|/survey/update_text?surveyno=${surveyVO.surveyno}&now_page=${now_page}|}">글 수정</a>
    <span class="menu_divide">│</span>
    <a th:href="@{|/survey/update_file?surveyno=${surveyVO.surveyno}&now_page=${now_page}|}">파일 수정</a>
    <span class="menu_divide">│</span>
    <a th:href="@{|/survey/delete?surveyno=${surveyVO.surveyno}&now_page=${now_page}|}">삭제</a>
  </aside>

  <div class="menu_line"></div>

  <fieldset class="fieldset_basic">
    <ul>
      <li class="li_none">
        <div style="width: 100%; word-break: break-all;">
          <div th:if="${surveyVO.file1 != null and !surveyVO.file1.isEmpty()}">
            <img th:src="@{|/survey/storage/${surveyVO.file1saved}|}" style="width: 50%; float: left; margin-top: 0.5%; margin-right: 1%;">
          </div>
          <div th:if="${surveyVO.file1 == null or surveyVO.file1.isEmpty()}">
            <img src="/survey/images/default_image.png" style="width: 50%; float: left; margin-top: 0.5%; margin-right: 1%;">
          </div>

          <span style="font-size: 1.5em; font-weight: bold;" th:text="${surveyVO.topic}">[주제]</span>
          <span style="font-size: 1em;" th:text="${surveyVO.sdate}">[시작일]</span><br><br>
          <span style="font-size: 1em;" th:text="${surveyVO.edate}">[종료일]</span><br><br>
          <span th:text="${surveyVO.s_number}">[참여 인원]</span><br><br>
          <span th:text="${surveyVO.is_continue}">[진행 여부]</span>
        </div>
      </li>

      <li class="li_none" th:if="${surveyVO.file1 != null and !surveyVO.file1.isEmpty()}">
        <div>
          첨부 파일: 
          <a th:href="@{|/download?dir=/survey/storage&filename=${surveyVO.file1saved}&downname=${surveyVO.file1}|}" th:text="|${surveyVO.file1}|"></a>
          <span th:text="|(${surveyVO.size1_label})|"></span>  
          <a th:href="@{|/download?dir=/survey/storage&filename=${surveyVO.file1saved}&downname=${surveyVO.file1}|}">
            <img th:src="@{/survey/images/download.png}" class="icon" title="download">
          </a>
        </div>
      </li>   
    </ul>
  </fieldset>
</div>
</html>
