<!DOCTYPE html>
<html layout:decorate="~{layout}"> <!-- layout.html 상속-->
<div layout:fragment="content">
  <div class='title_line'>
    <span th:text="${surveyVO?.topic ?: '설문조사'}" class="title_line_text"></span>
    > 글 수정
  </div>
  
  <aside class="aside_right">
    <a th:href="@{/survey/create}">등록</a>
    <span class='menu_divide' >│</span>
    <a href="javascript:location.reload();">새로고침</a>
    <span class='menu_divide' >│</span>
    <a th:href="@{|./list_by_surveyno_search_paging?surveyno=${surveyVO.surveyno }&is_continue=${is_continue }&now_page=${now_page}|}">목록</a>
  </aside>
  
  <div class='menu_line'></div>
  
  <form name='frm' method='post' th:object="${surveyVO}" action='./update_text'>
    <input type="hidden" name="surveyno" th:value="${surveyno}" />
    
    <div>
       <label>주제</label>
       <input type='text' name='topic' th:value="${surveyVO.topic}" required="required" 
                 autofocus="autofocus" class="form-control" style='width: 100%;'>
    </div>
    
    <div>
      <label>시작 날짜</label>
      <input type="date" name="sdate" th:value="${surveyVO.sdate}" required="required" class="form-control" style="width: 100%;">
    </div>
    
    <div>
      <label>종료 날짜</label>
      <input type="date" name="edate" th:value="${surveyVO.edate}" required="required" class="form-control" style="width: 100%;">
    </div>
    
    <div>
      <label>진행 여부(Y/N)</label>
      <select id="is_continue" name="is_continue" class="form-control">
        <option value="진행 여부" selected="selected">진행 여부</option>
        <option value="Y">Y</option>
        <option value="N">N</option>
      </select>
      <div th:if="${#fields.hasErrors('is_continue')}" class="alert alert-danger" role="alert" style="margin-top: 5px;">
        <div th:each="err: ${#lists.sort(#fields.errors('is_continue'))}" th:text="${err}"></div>
      </div>  
    </div>
    
    <div class="content_body_bottom">
      <button type="submit" class="btn btn-secondary btn-sm">저장</button>
      <button type="button" th:attr="onclick=|location.href='./list_by_surveyno_admin?surveyno=${surveyno}'|" class="btn btn-secondary btn-sm">목록</button>
    </div>
  
  </form>

</div>