<!DOCTYPE html>
<html layout:decorate="~{layout}">
<div layout:fragment="content">

  <div class='title_line'>전체 등급 목록</div>

  <aside class="aside_right">
    <a href="javascript:location.reload();">새로고침</a>
    <span class='menu_divide' >|</span>
    <a href='./create'>등록</a>
    <span class='menu_divide' >|</span>
    <a href='./list_all'>목록</a>
  </aside> 
   
  <div class='menu_line'></div>
       
  <table class="table table-striped" style='width: 100%;'>
    <colgroup>
      <col style='width: 10%;'/>
      <col style='width: 90%;'/>
    </colgroup>
    <tr>
      <th class='th_bs'>등급</th>
      <th class='th_bs'>등급설명</th>
    </tr>
   
    <tr th:each="gradeVO, status:${list}" 
        th:attr="onclick=|location.href='/grade/read?gradeno=${gradeVO.gradeno}'|"
        style="cursor: pointer;">
      <td class='td_basic' th:text="${gradeVO.gradeno}"></td>
      <td class='td_left'>
        <span th:text="${gradeVO.name}" style="font-weight: bold;"></span><br>
        <span th:if="${gradeVO.address1.length() > 160 }" 
              th:text="|${gradeVO.address1.substring(0, 160) }...|"></span>
        <span th:if="${gradeVO.address1.length() <= 160 }" 
              th:text="|${gradeVO.address1}|"></span>
      </td>
    </tr>
  </table>
   
  <div class='bottom_menu'>
    <button type='button' onclick="location.reload();" class="btn btn-primary btn-sm">새로 고침</button>
  </div>

</div>
</html>