<!DOCTYPE html>
<html layout:decorate="~{layout}">
<div layout:fragment="content">

  <div class='title_line'>
    <span th:text="${gradeVO?.grade_name ?: '등급이름'}" class="title_line_text"></span>
    > 검색
    <span th:if="${grade_name != ''}" th:text="|> ${grade_name} (${search_count} 건)|" class="title_line_text"></span>
  </div>

  <aside class="aside_right">
    <span th:if="${session.grade == 'admin'}">
      <a th:href="@{|/grade/create?gradeno=${gradeVO.gradeno}|}">등록</a>
      <span class="menu_devide">|</span>
    </span>
    
    <a href="javascript:location.reload();">새로고침</a>
    <span class='menu_divide' >|</span>
    <a th:href="@{|./list_by_gradeno?gradeno=${gradeVO.gradeno}&grade_name=${grade_name}&now_page=${now_page}|}">목록</a>"
  </aside>

  <!-- 검색 프래그먼트 -->
  <div th:replace="~{/grade/list_search_com :: list_search_fragment}"></div>
     
  <div class='menu_line'></div>
       
  <div style='width: 100%;'> <!-- 갤러리 Layout  시작 -->
    <div th:if="${list.size() > 0}" th:each="gradeVO, status:${list}" th:attr="onclick=|location.href='/grade/read?gradeno=${gradeVO.gradeno}&grade_name=${grade_name}&now_page=${now_page}'|"
    style='width: 19.0%; height: 200px; float: left; margin: 0.5%; padding: 0.5%; background-color: #EEEFFF; text-align: left; cursor: pointer;'>
    
    <div th:if="${gradeVO.file1.endsWith('jpg') or gradeVO.file1.endsWith('png')  or gradeVO.file1.endsWith('gif')}"
             style="width: 100%; height: 100px;">
        <img th:src="@{|/grade/storage/${gradeVO.thumb1}|}" style="width: 100%; height: 100%;">
      </div>

      <div th:if="${((gradeVO.file1.endsWith('jpg') or gradeVO.file1.endsWith('png')  or gradeVO.file1.endsWith('gif')) == false) and (gradeVO.size1 > 0)}"
             style="width: 100%; height: 100px;">
        <span th:text="${gradeVO.file1}"></span>
      </div>

      <div th:if="${gradeVO.size1 == 0}" style="width: 100%; height: 100px;">
        <img src="/grade/images/seed.png" style="width: 100%; height: 100%;">
      </div>
      <div>
        <span th:if="${gradeVO.grade_name.length() > 16 }" 
                  th:text="|${gradeVO.grade_name.substring(0, 16) }...|" style="font-weight: bold;"></span>
        <span th:if="${gradeVO.grade_name.length() <= 16 }" 
                  th:text="|${gradeVO.grade_name}|" style="font-weight: bold;"></span>
        <br>
        
        <span th:if="${gradeVO.gdescription.length() > 25 }" 
                  th:text="|${gradeVO.gdescription.substring(0, 25) }...|"></span>
        <span th:if="${gradeVO.gdescription.length() <= 25 }" 
                  th:text="|${gradeVO.gdescription}|"></span>
      </div>
      
      <div style="width: 100%; text-align: right;">♡</div>
      
  </div> 
  
  <div th:if="${list.size() == 0}" style="text-align: center; padding: 50px 0px;">
      <span>관련 등급 글이 등록되지 않았습니다.</span>
    </div> 
  </div>  <!-- 갤러리 Layout  종료 -->
   
  <!-- 페이지 버튼 목록 출력 시작 -->
  <div class="bottom_menu" th:utext="${paging}"></div>
  <!-- 페이지 버튼 목록 출력 종료 --> 
</div>
</html>