<!DOCTYPE html>
<html layout:decorate="~{layout}">
<div layout:fragment="content">

  <div class='title_line'>전체 회원 목록</div>

  <aside class="aside_right">
    <a href="javascript:location.reload();">새로고침</a>
  </aside> 
   
  <div class='menu_line'></div>
       
  <table class="table table-striped" style='width: 100%;'>
    <colgroup>
      <col style='width: 10%;'/>
      <col style='width: 90%;'/>
    </colgroup>
    <tr>
      <th class='th_bs'>회원 번호</th>
      <th class='th_bs'>이름</th>
    </tr>
   
    <tr th:each="memberVO, status:${list}" 
        th:attr="onclick=|location.href='/member/read?memberno=${memberVO.memberno}'|"
        style="cursor: pointer;">
      <td class='td_basic' th:text="${memberVO.memberno}"></td>
      <td class='td_left'>
        <span th:text="${memberVO.name}" style="font-weight: bold;"></span><br>
        <span th:if="${memberVO.address1.length() > 160 }" 
              th:text="|${memberVO.address1.substring(0, 160) }...|"></span>
        <span th:if="${memberVO.address1.length() <= 160 }" 
              th:text="|${memberVO.address1}|"></span>
      </td>
    </tr>
  </table>
   
  <div class='bottom_menu'>
    <button type='button' onclick="location.reload();" class="btn btn-primary btn-sm">새로 고침</button>
  </div>

</div>
</html>