<!DOCTYPE html>
<html layout:decorate="~{layout}">
<div layout:fragment="content">

  <div class='title_line'>
    <span th:text="${memberVO?.name ?: '회원'}" class="title_line_text"></span>
    > 검색 그리드 페이징
    <span th:if="${word != ''}" th:text="|> ${word} (${search_count} 건)|" class="title_line_text"></span>
  </div>

  <aside class="aside_right">
    <a href="javascript:location.reload();">새로고침</a>
    <span class='menu_divide'>│</span>
    <a th:href="@{|./list_by_memberno?memberno=${memberVO?.memberno}&now_page=${now_page}|}">목록</a>    
  </aside>

  <!-- 검색 프래그먼트 -->
  <div th:replace="~{/member/list_search_com :: list_search_fragment}"></div>
     
  <div class='menu_line'></div>
       
  <table class="table table-striped table-hover" style='width: 100%;'>
    <colgroup>
      <col style='width: 5%;'/>
      <col style='width: 10%;'/>
      <col style='width: 15%;'/>
      <col style='width: 15%;'/>
      <col style='width: 30%;'/>
      <col style='width: 15%;'/>
      <col style='width: 10%;'/>
    </colgroup>
    <tr>
      <th class='th_bs'> </th>
      <th class='th_bs'>ID</th>
      <th class='th_bs'>성명</th>
      <th class='th_bs'>이메일</th>
      <th class='th_bs'>주소</th>
      <th class='th_bs'>등록일</th>
      <th class='th_bs'> </th>
    </tr>

    <tr th:each="memberVO, status:${list}">
      <td class='td_basic'>
        <div>
          <div th:if="${memberVO.grade >= 1 and memberVO.grade <= 10}"><img src='/member/images/admin.png' title="관리자" class="icon"></div>
          <div th:if="${memberVO.grade >= 11 and memberVO.grade <= 20}"><img src='/member/images/user.png' title="회원" class="icon"></div>
          <div th:if="${memberVO.grade >= 30 and memberVO.grade <= 39}"><img src='/member/images/pause.png' title="정지 회원" class="icon"></div>
          <div th:if="${memberVO.grade >= 40 and memberVO.grade <= 49}"><img src='/member/images/x.png' title="탈퇴 회원" class="icon"></div>
        </div>
      </td>
      <td class='td_left'><a th:href="@{|./read?memberno=${memberVO.memberno}|}" th:text="${memberVO.id}"></a></td>
      <td class='td_left'><a th:href="@{|./read?memberno=${memberVO.memberno}|}" th:text="${memberVO.name}"></a></td>
      <td class='td_basic' th:text="${memberVO.email}"></td>
      <td class='td_left'>
        <span th:if="${memberVO.address1.length() > 15 }" th:text="|${memberVO.address1.substring(0, 15) }...|"></span>
        <span th:unless="${memberVO.address1.length() > 15 }" th:text="${memberVO.address1}"></span>
      </td>
      <td class='td_basic' th:text="${memberVO.mdate.substring(0, 10)}"></td>
      <td class='td_basic'>
        <a th:href="@{|./read?memberno=${memberVO.memberno}|}"><img src='/member/images/update.png' title='수정' class="icon"></a>
        <a th:href="@{|./delete?memberno=${memberVO.memberno}|}"><img src='/member/images/delete.png' title='삭제' class="icon"></a>
      </td>
    </tr>

    <tr th:if="${list == null || list.size() == 0}">
      <td colspan="7" style="text-align: center;">관련 글이 등록되지 않았습니다.</td>
    </tr>
  </table>
   
  <div class="bottom_menu" th:if="${paging != null}" th:utext="${paging}"></div>
</div>
</html>