<!DOCTYPE html>
<html layout:decorate="~{layout}">
<div layout:fragment="content">

  <div class='title_line'>
    등급 목록
    <span th:text="|>(${search_count} 건)|" class="title_line_text"></span>
  </div>
  
  <aside class="aside_right">
    <a href="javascript:location.reload();">새로고침</a>
    <span class="menu_divide">│</span>
    <span th:if="${session.grade == 'admin'}">
      <a th:href="@{|/grade/create?gradeno=${gradeVO?.gradeno}|}">등록</a></span>
    <span class="menu_divide">│</span>
    <a th:href="@{/grade/list_by_gradeno_search_paging(gradeno=${gradeVO?.gradeno}, grade_name=${grade_name != null ? grade_name : ''}, now_page=${now_page})}">목록</a>
    <span class="menu_divide">│</span>
  </aside>
  

  <!-- 검색 프래그먼트 -->
  <div th:replace="~{/grade/list_search_com :: list_search_fragment}"></div>
     
  <div class='menu_line'></div>
       
  <table class="table table-striped" style='width: 100%;'>
    <colgroup>
      <col style='width: 10%;'/>
      <col style='width: 90%;'/>
    </colgroup>
    <tr>
      <th class='th_bs'>등급</th>
      <th class='th_bs'>등급설명</th>
    </tr>
    
    <tr th:if="${list != null and list.size() > 0}" th:each="gradeVO, status:${list}" 
    th:attr="onclick=|location.href='/grade/read?gradeno=${gradeVO.gradeno}&now_page=${now_page}'|"
    style="cursor: pointer; height: 90px;">
    <td class='td_basic image-container' style="vertical-align: middle; text-align: center;">
        <div th:if="${gradeVO.file1.endsWith('jpg') or gradeVO.file1.endsWith('png') or gradeVO.file1.endsWith('gif')}">
            <img th:src="@{|/grade/storage/${gradeVO.thumb1}|}" style="width: 120px; height: 90px;">
        </div>
        <div th:if="${((gradeVO.file1.endsWith('jpg') or gradeVO.file1.endsWith('png') or gradeVO.file1.endsWith('gif')) == false) and (gradeVO.size1 > 0)}">
            <span th:text="${gradeVO.file1}"></span>
        </div>
        <div th:if="${gradeVO.size1 == 0}">
            <img src="/grade/images/none1.png" style="width: 120px; height: 90px;">
        </div>
    </td>
    <td class='td_left'>
        <span th:text="${gradeVO.grade_name}" style="font-weight: bold;"></span><br>
        <span th:text="${#dates.format(gradeVO.rdate, 'yyyy-MM-dd')}"></span><br>
        <span th:if="${gradeVO.evo_criteria.length() > 160 }" 
              th:text="|${gradeVO.evo_criteria.substring(0, 160) }...|"></span>
        <span th:if="${gradeVO.evo_criteria.length() <= 160 }" 
              th:text="|${gradeVO.evo_criteria}|"></span>
        <span th:if="${gradeVO.evolution.length() > 160 }" 
              th:text="|${gradeVO.evolution.substring(0, 160) }...|"></span><br>
        <span th:if="${gradeVO.evolution.length() <= 160 }" 
              th:text="|${gradeVO.evolution}|"></span>
    </td>
</tr>


    <tr th:if="${list != null and list.size() == 0}">
      <td colspan="2" style="text-align: center;">관련 글이 등록되지 않았습니다.</td>
    </tr>
    
  </table>
   
  <!-- 페이지 버튼 목록 출력 시작 -->
  <div class="bottom_menu" th:utext="${paging}"></div>
  <!-- 페이지 버튼 목록 출력 종료 -->
</div>
</html>
