<!DOCTYPE html>

<html layout:decorate="~{layout}"> <!-- layout.html 상속-->
<div layout:fragment="content">
  <div class='title_line'>
    <span th:text="${gradeVO?.gdescription ?: '등급설명'}" class="title_line_text"></span>
    > 등급글 수정
  </div>
  
  <aside class="aside_right">
    <a th:href="@{/grade/create}">등록</a>
    <span class='menu_divide' >│</span>
    <a href="javascript:location.reload();">새로고침</a>
    <span class='menu_divide' >│</span>
    <a th:href="@{|./list_by_gradeno?gradeno=${gradeVO.gradeno }&word=${word }&now_page=${now_page}|}">목록</a>
  </aside>
  
  <div class='menu_line'></div>
  
  <form name='frm' method='post' th:object="${gradeVO}" action='./update_text'>
    <input type="hidden" name="gradeno" th:value="${gradeVO.gradeno }">
    <input type="hidden" name="now_page" th:value="${now_page}">
    <input type="hidden" name="search_word" th:value="${word}">
    
    <div>
       <label>등급 이름</label>
       <input type='text' name='grade_name' th:value='${gradeVO.grade_name}' required="required" 
                 autofocus="autofocus" class="form-control" style='width: 100%;'>
    </div>
    <div>
       <label>등급 설명</label>
       <textarea name='gdescription' required="required" class="form-control" rows="12" style='width: 100%;' 
                      th:text='${boardVO.gdescription}'></textarea>
    </div>
    
    <div> 
      <div th:if="${#fields.hasErrors('gdescription')}" class="alert alert-danger" role="alert" style="margin-top: 5px;">
        <div th:each="err: ${#lists.sort(#fields.errors('gdescription'))}" th:text="${err}"></div>
      </div>
    </div>
    
    <div class="content_body_bottom">
      <button type="submit" class="btn btn-secondary btn-sm">저장</button>
      <button type="button" th:attr="onclick=|location.href='./list_by_grade?gradeno=${gradeno}'|" class="btn btn-secondary btn-sm">목록</button>
    </div>
  
  </form>

</div>