<!DOCTYPE html>

<html layout:decorate="~{layout}"> <!-- layout.html 상속-->
<div layout:fragment="content">
  <div class="title_line">댓글 수정</div>
  
  <aside class="aside_right">
    <a th:href="@{|/reply/list_search?word=${word}|}">목록</a>
    <span class="menu_divide">|</span>
    <a th:href="@{|/reply/delete/${replyVO.replyno}?word=${word}|}">삭제</a>
    <span class="menu_divide">|</span>
    <a th:href="@{|/reply/list_search|}">등록</a>
    <span class="menu_divide">|</span>
    <a href="javascript: location.reload();">새로 고침</a>
  </aside>
  
  <div class='menu_line'></div>
  
  <form name='frm' method='post' th:object="${replyVO}" action='./update'>
    <input type="hidden" name="boardno" th:value="${replyVO.boardno }">
    <input type="hidden" name="replyno" th:value="${replyVO.replyno }">
    <input type="hidden" name="now_page" th:value="${now_page}">
    <input type="hidden" name="search_word" th:value="${word}">
    
    <div>
        <label>댓글 번호</label>
        <input type="text" name="replyno" value="" autofocus="autofocus"
               class="form-control" style="width: 30%;" th:field="*{replyno}">
        <div th:if="${#fields.hasErrors('replyno')}" class="alert alert-danger" role="alert" style="margin-top: 5px;">
          <div th:each="err: ${#lists.sort(#fields.errors('replyno'))}" th:text="${err}"></div>
        </div>  
      </div>
      <div>
        <label>게시물 번호</label>
        <input type="text" name="boardno" value="" autofocus="autofocus"
               class="form-control" style="width: 30%;" th:field="*{boardno}">
        <div th:if="${#fields.hasErrors('boardno')}" class="alert alert-danger" role="alert" style="margin-top: 5px;">
          <div th:each="err: ${#lists.sort(#fields.errors('boardno'))}" th:text="${err}"></div>
        </div>  
      </div>
      <div>
        <label>댓글 내용</label>
        <input type="text" name="rcontent" value="" autofocus="autofocus"
               class="form-control" style="width: 100%;" th:field="*{rcontent}">
        <div th:if="${#fields.hasErrors('rcontent')}" class="alert alert-danger" role="alert" style="margin-top: 5px;">
          <div th:each="err: ${#lists.sort(#fields.errors('rcontent'))}" th:text="${err}"></div>
        </div>  
      </div>
      <div>
        <label>패스워드</label>
        <input type="text" name="passwd" maxlength="10" value="" autofocus="autofocus"
               class="form-control" style="width: 50%;" th:field="*{passwd}">
        <div th:if="${#fields.hasErrors('passwd')}" class="alert alert-danger" role="alert" style="margin-top: 5px;">
          <div th:each="err: ${#lists.sort(#fields.errors('passwd'))}" th:text="${err}"></div>
        </div>  
      </div>
      <div class="content_body_bottom">
        <button type="submit" class="btn btn-secondary btn-sm">등록</button>
        <button type="button" onclick="location.href='/reply/list_all'" class="btn btn-secondary btn-sm">목록</button>
      </div>
  
  </form>

</div>