<!DOCTYPE html>
<html layout:decorate="~{layout}">
<div layout:fragment="content">
  <div class="title_line">
    <span th:text="${diaryVO.title}"></span> 글 등록
  </div>

  <aside class="aside_right">
    <a href="javascript:location.reload();">새로고침</a>
    <span class='menu_divide'>│</span>
    <a th:href="@{/diary/list_by_diaryno_search_paging}">목록</a>
  </aside>

  <div class="menu_line"></div>

  <form name="frm" method="post" th:object="${diaryVO}" action="./create" enctype="multipart/form-data">
    <!-- 제목 -->
    <div>
      <label>제목</label>
      <input type="text" name="title" th:value="*{title}" required="required" class="form-control" style="width: 100%;" placeholder="오늘의 제목">
    </div>

    <!-- 날짜 -->
    <div>
      <label>날짜</label>
      <input type="date" name="ddate" th:value="*{ddate}" required="required" class="form-control" style="width: 100%;">
    </div>

    <!-- 날씨 코드 -->
    <div>
      <label>날씨 코드</label>
      <input type="number" name="weatherno" th:value="*{weatherno}" required="required" class="form-control" style="width: 100%;">
    </div>

    <!-- 감정 번호 -->
    <div>
      <label>감정 코드</label>
      <input type="number" name="emno" th:value="*{emno}" required="required" class="form-control" style="width: 100%;">
    </div>
    
    <!-- 그림 번호 -->
    <div>
      <label>그림 코드</label>
      <input type="number" name="illustno" th:value="*{illustno}" required="required" class="form-control" style="width: 100%;">
    </div>

    <!-- 요약 -->
    <div>
      <label>내용</label>
      <textarea name="summary" th:value="*{summary}" required="required" class="form-control" rows="12" style="width: 100%;">오늘의 날씨는 그리 맑지 않지만 오랜만에 외출을 준비합니다.</textarea>
    </div>

    <!-- 등록 버튼 -->
    <div class="content_body_bottom">
      <button type="submit" class="btn btn-secondary btn-sm">등록</button>
      <button type="button" onclick="location.href='./list_by_diaryno_search_paging'" class="btn btn-secondary btn-sm">목록</button>
    </div>
  </form>
</div>
</html>
