<!DOCTYPE html>

<html layout:decorate="~{layout}"> <!-- layout.html 상속-->
<div layout:fragment="content">
  <div class='title_line'>
    <span th:text="${diaryVO.title }" class="title_line_text"></span > 글 등록
  </div>
  
  <aside class="aside_right">
    <a th:href="@{|./create?diaryno=${diaryVO.diaryno }|}">등록</a>
    <span class='menu_divide' >│</span>
    <a href="javascript:location.reload();">새로고침</a>
    <span class='menu_divide' >│</span>
    <a th:href="@{|./list_by_diaryno?diaryno=${diaryVO.diaryno }&now_page=${now_page}|}">기본 목록형</a>    
    <span class='menu_divide' >│</span>
    <a th:href="@{|./list_by_diaryno_grid?diaryno=${diaryVO.diaryno }&now_page=${now_page}|}">갤러리형</a>
  </aside>
  
  <div class='menu_line'></div>
  
  <form name='frm' method='post' th:object="${diaryVO}" action='./create' enctype="multipart/form-data">
    <input type="hidden" name="diaryno" th:value="${param.diaryno }">
    
    <div>
       <label>오늘의 제목</label>
       <input type='text' name='title' required="required" 
                 autofocus="autofocus" class="form-control" style='width: 100%;'>
    </div>
    <div>
       <label>오늘의 기분</label>
       <input type='emotion' name='emotion' required="required" 
                 autofocus="autofocus" class="form-control" style='width: 100%;'>
    </div>
    <div>
       <label>내용</label>
       <textarea name='summary' required="required" class="form-control" rows="12" style='width: 100%;'>오늘의 날씨는 그리 맑지 않지만 오랜만에 외출을 준비합니다.</textarea>
    </div>
     
    <div>
       <label>이미지</label>
       <input type='file' class="form-control" name='file1MF' id='file1MF' value='' placeholder="파일 선택">
    </div>   
    <div>
       <label>패스워드</label>
       <input type='password' name='passwd' value='1234' required="required" 
                 class="form-control" style='width: 50%;'>
    </div>   
    <div class="content_body_bottom">
      <button type="submit" class="btn btn-secondary btn-sm">등록</button>
      <button type="button" th:attr="onclick=|location.href='./list_by_diaryno_search_paging?diaryno=${diaryno}'|" class="btn btn-secondary btn-sm">목록</button>
    </div>
  
  </form>

</div>

  