<!DOCTYPE html>
<html layout:decorate="~{layout}">
<div layout:fragment="content">
  <div class="title_line">
    일기 목록 
    <span th:if="${word != null and word != ''}" th:text="|검색어: '${word}'|"></span>
    <span th:if="${start_date != null and end_date != null}" th:text="|날짜: ${start_date} ~ ${end_date}|"></span>
  </div>

  <aside class="aside_right">
    <a href="javascript:location.reload();">새로 고침</a>
    <span class='menu_divide'>│</span>
    <a th:href="@{/diary/create}">새 일기 등록</a>
  </aside>

  <div class="menu_line"></div>

  <!-- 검색 및 날짜 범위 설정 -->
  <form name="searchForm" method="get" action="/diary/list_search" style="margin: 20px 0;">
    <div style="display: flex; justify-content: space-between; align-items: center; gap: 10px;">
      <!-- 검색어 -->
      <input type="text" name="word" th:value="${word}" class="form-control" placeholder="검색어 입력">

      <!-- 시작 날짜 -->
      <input type="date" name="start_date" th:value="${start_date}" class="form-control">

      <!-- 종료 날짜 -->
      <input type="date" name="end_date" th:value="${end_date}" class="form-control">

      <!-- 검색 버튼 -->
      <button type="submit" class="btn btn-secondary btn-sm">검색</button>
    </div>
  </form>

  <!-- 목록 출력 -->
  <div>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>번호</th>
          <th>제목</th>
          <th>날짜</th>
          <th>감정</th>
          <th>일기</th>
          <th>관리</th>
        </tr>
      </thead>
      <tbody>
        <tr th:each="diary : ${diaryList}">
          <td th:text="${diary.diaryno}"></td>
          <td th:text="${diary.title}"></td>
          <td th:text="${diary.ddate}"></td>
          <td th:text="${diary.emno}"></td>
          <td th:text="${diary.summary}"></td>
          <td>
            <a th:href="@{/diary/update/{diaryno}(diaryno=${diary.diaryno})}">수정</a>
            <span class='menu_divide'>│</span>
            <a th:href="@{/diary/delete/{diaryno}(diaryno=${diary.diaryno})}">삭제</a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
</html>
