<!DOCTYPE html>

<html layout:decorate="~{layout}"> <!-- layout.html 상속-->
<div layout:fragment="content">

  <div class='title_line'>
    <span th:text="${diaryVO.title}" class="title_line_text"></span >
    <span th:if="${title != ''}" th:text="|> ${title} (${search_count} 건)|" class="title_line_text"></span>
  </div>

  <aside class="aside_right">
    <span th:if="${session.grade == 'admin'}">
      <a th:href="@{|/diary/create?diaryno=${diaryVO.diaryno}|}">등록</a>
      <span class="menu_devide">│</span>    
    </span>
    
    <a href="javascript:location.reload();">새로고침</a>
    <span class='menu_divide' >│</span>    
    <a th:href="@{|./list_by_diaryno?diaryno=${diaryVO.diaryno }&now_page=${now_page}|}">목록형</a>    
    <span class='menu_divide' >│</span>
    <a th:href="@{|./list_by_diaryno_grid?diaryno=${diaryVO.diaryno }&now_page=${now_page}|}">갤러리형</a>
    
  </aside> 

  <!-- /contents/list_search_com.html 파일의 list_search_fragment import -->
  <div th:replace="~{contents/list_search_com::list_search_fragment}"></div>
     
  <div class='menu_line'></div>
       
  <table class="table table-striped" style='width: 100%;'>
    <colgroup>
      <col style='width: 10%;'/>
      <col style='width: 90%;'/>
    </colgroup>
    <tr>
      <th class='th_bs'>파일</TH>
      <th class='th_bs'>제목</th>
    </tr>
   
    <tr th:if="${list.size() > 0}" th:each="diaryVO, status:${list}" 
         th:attr="onclick=|location.href='/diary/read?diaryno=${diaryVO.diaryno}&now_page=${now_page}'|"
         style="cursor: pointer; height: 90px;">
     
      <td class='td_left'>
        <span th:text="${diaryVO.title}" style="font-weight: bold;"></span>
        <span th:text="| ${diaryVO.ddate.substring(0, 10)}|"></span><br>

        <span th:if="${diaryVO.summary.length() > 160 }" 
                  th:text="|${diaryVO.summary.substring(0, 160) }...|"></span>
        <span th:if="${diaryVO.summary.length() <= 160 }" 
                  th:text="|${diaryVO.summary}|"></span>
        
      </td>
    </tr>

    <tr th:if="${list.size() == 0}">
      <td colspan="2" style="text-align: center;">관련 글이 등록되지 않았습니다.</td>
    </tr> 

  </table>
   
  <!-- 페이지 버튼 목록 출력 시작 -->
  <div class="bottom_menu" th:utext="${paging}"></div>
  <!-- 페이지 버튼 목록 출력 종료 --> 

</div>
</html>
 