<!DOCTYPE html> 
<html layout:decorate="~{layout}"> <!-- layout.html 상속-->
<div layout:fragment="content">
  <script>
    window.onload = function() {
     
      let heartCnt =`[[${heartCnt}]]`; //  javascript -> Thymeleaf -> session
      let tag='';

      if (heartCnt == 1) {
        tag = '<a href="javascript:good([[${diaryVO.diaryno}]])"><img src="/diarygood/images/heart_on.png" style="width: 22px" title="좋아요"></a>'
        document.querySelector('#heart_panel').innerHTML = tag; 
      } else {
        tag = '<a href="javascript:good([[${diaryVO.diaryno}]])"><img src="/diarygood/images/heart_off.png" style="width: 22px" title="좋아요 해제"></a>'
        document.querySelector('#heart_panel').innerHTML = tag; 
      }
      document.querySelector('#goodCnt_panel').innerHTML = '([[${diaryVO.goodcnt}]])'
           
    }
    
    function good(diaryno) {
      console.log('-> diaryno : ' + diaryno);
      fetch("/diary/good", {
        "method": "post",
        "headers": {
          "Content-Type": "application/json"
        },
        body: JSON.stringify({diaryno}) // {"sentence":sentence, "language":language}, JSON 형식으로 전송
      })
      .then((response) => response.json()) // 응답 문자열 추출
      .then((data) => {
        console.log('-> data.isMember : ' + data.isMember);
        if (data.isMember == 1) {
          let heartCnt = data.heartCnt; //  javascript -> Thymeleaf -> session
          let tag='';
            
          if (heartCnt == 1) {     
            tag = '<a href="javascript:good([[${diaryVO.diaryno}]])"><img src="/diarygood/images/heart_on.png" style="width: 22px" title="좋아요"></a>'
            document.querySelector('#heart_panel').innerHTML = tag; 
          } else {
            tag = '<a href="javascript:good([[${diaryVO.diaryno}]])"><img src="/diarygood/images/heart_off.png" style="width: 22px" title="좋아요 해제"></a>'
            document.querySelector('#heart_panel').innerHTML = tag; 
          }
        document.querySelector('#goodCnt_panel').innerHTML = '(' + data.goodCnt + ')';
            
        } else {
          alert("로그인 후 이용 가능합니다.");
          location.href='/member/login_cookie_need'
        }
      });
    }
  </script>
  <div class='title_line'>
    일기 조회
  </div>
  
  <aside class="aside_right" th:if="${session.grade == 'admin'}">
    <a href="javascript:location.reload();">새로고침</a>
    <span class='menu_divide' >│</span>
    <a th:href="@{|/diary/create|}">등록</a>
    <span class='menu_divide' >│</span>
    <a th:href="@{|/diary/update?diaryno=${diaryVO.diaryno}&now_page=${now_page}&word=${word }|}">글 수정</a>
    <span class='menu_divide' >│</span>
    <a th:href="@{|/diary/list_by_diaryno_search_paging?diaryno=${diaryVO.diaryno }&word=${word }&now_page=${now_page}|}">목록</a>    
    <span class='menu_divide' >│</span>
    <a th:href="@{|/diary/delete?diaryno=${diaryVO.diaryno}&word=${word}&now_page=${now_page}&diaryno=${diaryVO.diaryno}|}">삭제</a>  
 </aside> 

  <aside class="aside_right" th:if="${session.grade != 'admin'}">
     <a href="javascript:location.reload();">새로고침</a>
    <span class='menu_divide' >│</span>
    <a th:href="@{|/diary/list_by_diaryno_search_paging?diaryno=${diaryVO.diaryno }&word=${word }&now_page=${now_page}|}">목록</a>    
    <span class='menu_divide' >│</span>
    <a th:href="@{|./list_by_diaryno_search_paging_grid?diaryno=${diaryVO.diaryno }&word=${word }&now_page=${now_page}|}">갤러리형</a>
  </aside> 
 
  <div class='menu_line'></div>

  <fieldset class="fieldset_basic">
    <ul>
      <!--<li th:if="${diaryVO != null}"> -->
      <li  >
        <strong>일기 제목:</strong> <span th:text="${diaryVO.title}"></span><br>
        <strong>작성 날짜:</strong> <span th:text="${#dates.format(diaryVO.ddate, 'yyyy-MM-dd')}"></span>
        
         <!-- 그림 출력 반복문 추가 -->
        <div th:each="illustration : ${illustrationList}">
          <img th:src="@{'/upload/' + ${illustration.illust}}" 
               alt="썸네일" style="width: 300px; height: auto;">
        </div>
        <strong>일기 내용:</strong><br>
        <span th:text="${diaryVO.summary}"></span><br>      
      </li>
      
      
      
      <li class="li_none">
        <div>
          <span id="heart_panel"></span>
          <span id="goodCnt_panel"></span>
        </div>
      </li>
      <li class="li_none" th:text="|조회수: ${diaryVO.cnt }|"></li>
    </ul>
  </fieldset>

</div>

</html>