<!DOCTYPE html> 

<html layout:decorate="~{layout}"> <!-- layout.html 상속-->
<div layout:fragment="content">
  <script>
    window.onload = function() {
      //<img src = "/diarygood/images/file_name" style="" title="">
      //<img src = "/diarygood/images/file_name" style="" title="">
      let heartCnt = '[[${heartCnt}]]'; //  javascript -> Thymeleaf -> session
      if (heartCnt == 1) {
        document.querySelector('#heart_panel').innerHTML = '<img src="/diarygood/images/heart_on.png" style="width: 22px" title="좋아요">'; 
      } else {
        document.querySelector('#heart_panel').innerHTML = '<img src="/diarygood/images/heart_off.png" style="width: 22px" title="좋아요 해제">'; 
      }
    }
  </script>
  <div class='title_line'>
    일기 조회
  </div>
  
  <aside class="aside_right" th:if="${session.grade == 'admin'}">
    <a href="javascript:location.reload();">새로고침</a>
    <span class='menu_divide' >│</span>
    <a th:href="@{|/diary/create|}">등록</a>
    <span class='menu_divide' >│</span>
    <a th:href="@{|/diary/update?diaryno=${diaryVO.diaryno}&now_page=${now_page}&word=${word }|}">글 수정</a>
    <span class='menu_divide' >│</span>
    <a th:href="@{|/diary/list_by_diaryno_search_paging?diaryno=${diaryVO.diaryno }&word=${word }&now_page=${now_page}|}">목록</a>    
    <span class='menu_divide' >│</span>
    <a th:href="@{|/diary/delete?diaryno=${diaryVO.diaryno}&word=${word}&now_page=${now_page}&diaryno=${diaryVO.diaryno}|}">삭제</a>  
 </aside> 

  <aside class="aside_right" th:if="${session.grade != 'admin'}">
     <a href="javascript:location.reload();">새로고침</a>
    <span class='menu_divide' >│</span>
    <a th:href="@{|./list_by_diaryno?diaryno=${diaryVO.diaryno }&word=${word }&now_page=${now_page}|}">목록형</a>    
    <span class='menu_divide' >│</span>
    <a th:href="@{|./list_by_diaryno_grid?diaryno=${diaryVO.diaryno }&word=${word }&now_page=${now_page}|}">갤러리형</a>
  </aside> 
 
  <div class='menu_line'></div>

  <fieldset class="fieldset_basic">
    <ul>
      <li th:if="${diaryVO != null}">
        <strong>일기 제목:</strong> <span th:text="${diaryVO.title}"></span><br>
        <strong>작성 날짜:</strong> <span th:text="${#dates.format(diaryVO.ddate, 'yyyy-MM-dd')}"></span>
        <strong>일기:</strong> <span th:text="${diaryVO.summary}"></span><br>      
      </li>
      
       <!-- 썸네일 출력 반복문 추가 -->
      <li>
        <strong>썸네일:</strong>
        <div th:each="illustration : ${illustrationList}">
          <img th:src="@{'/upload/' + ${illustration.illust}}" 
               alt="썸네일" style="width: 200px; height: auto;">
        </div>
      </li>
      <li class="li_none">
        <div>
          <span id="heart_panel"></span>
        </div>
      </li>
    </ul>
  </fieldset>

</div>

</html>

