<!DOCTYPE html>

<html layout:decorate="~{layout}"> <!-- layout.html 상속-->
<div layout:fragment="content">

  <div class='title_line'>검색목록</div>

  <aside class="aside_right">
    <span th:if="${session.grade == 'member'}">
      <a th:href="@{/scmenu/create}">등록</a>
      <span class="menu_devide">│</span>    
    </span>
    
    <a href="javascript:location.reload();">새로고침</a>
  </aside> 

  <!-- /contents/list_search_com.html 파일의 list_search_fragment import -->
  <div th:replace="~{scmenu/list_search_com::list_search_fragment}"></div>
     
  <div class='menu_line'></div>
       
  <table class="table table-striped" style='width: 100%;'>
    <colgroup>
      <col style='width: 10%;'/>
      <col style='width: 35%;'/>
      <col style='width: 35%;'/>
      <col style='width: 20%;'/>
    </colgroup>
    <tr>
      <th class='th_bs'>평점 메뉴 번호</th>
      <th class='th_bs'>평점 메뉴 이름</th>
      <th class='th_bs'>평점 메뉴 설명</th>
      <th class='th_bs'>등록일</th>
   
    <tr th:each="scmenuVO, status:${list}" 
         th:attr="onclick=|location.href='/scmenu/read?menuno=${scmenuVO.menuno}&name=${name}'|"
         style="cursor: pointer; height: 90px;">

      </td>
      <td class='td_basic' style="vertical-align: middle; text-align: center;">
        <span th:text="${scmenuVO.menuno}" style="font-weight: bold;"></span><br>
        
      <td class='td_basic' style="vertical-align: middle; text-align: center;">
        <span th:if="${scmenuVO.name.length() > 160 }" 
                  th:text="|${scmenuVO.name.substring(0, 160) }...|"></span>
        <span th:if="${scmenuVO.name.length() <= 160 }" 
                  th:text="|${scmenuVO.name}|"></span>
                  
      <td class='td_basic' style="vertical-align: middle; text-align: center;">
        <span th:if="${scmenuVO.explan.length() > 160 }" 
                  th:text="|${scmenuVO.explan.substring(0, 160) }...|"></span>
        <span th:if="${scmenuVO.explan.length() <= 160 }" 
                  th:text="|${scmenuVO.explan}|"></span>        
      <td class='td_basic' style="vertical-align: middle; text-align: center;">
         <span th:text="${scmenuVO.rdate}" style="font-weight: bold;"></span><br>
      </td>
        
      </td>
    </tr>
  </table>
   
  <div class='bottom_menu'>
    <button type='button' onclick="location.reload();" class="btn btn-primary btn-sm">새로 고침</button>
  </div>

</div>
</html>

