<div th:fragment="navbarFragment">
  <div class="top_menu_img">
    <div class="top_menu_label">추억의 저장소 그림 일기</div>
  </div>
  
  <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">메인화면</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
          
        <!-- 메뉴 시작 -->
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item dropdown" th:if="${session.grade == 'admin'}">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" 
                            role="button" data-bs-toggle="dropdown" aria-expanded="false" th:text="관리자">                                                            
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li class="nav-item"><a class="nav-link" th:href="@{|/member/list|}">회원 목록</a></li>
                        <li class="nav-item"><a class="nav-link" th:href="@{|/grade/list_by_gradeno_search_paging?word=${word}|}">등급 목록</a></li>
                        <li class="nav-item"><a class="nav-link" th:href="@{|/board/list_by_diaryno_search_paging?word=${word}|}">전체 글 목록</a></li>
                        <li class="nav-item"><a class="nav-link" th:href="@{|/notice/create|}">공지사항 등록</a></li>
                        <li class="nav-item"><a class="nav-link" th:href="@{|/board/list_all|}">요청사항 글 목록</a></li>
                    </ul>
                </li>
                
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" 
                            role="button" data-bs-toggle="dropdown" aria-expanded="false" th:text="요청사항">                                                            
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li class="nav-item"><a class="nav-link" th:href="@{|/board/create|}">요청사항 쓰기</a></li>
                        <li class="nav-item"><a class="nav-link"th:href="@{|/board/list_by_boardno_search_paging?board_cate=${board_cate ?: ''}|}">요청사항 목록</a></li>
                    </ul>
                </li>
                <!--
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" 
                       role="button" data-bs-toggle="dropdown" aria-expanded="false" th:text="설문조사관리자">                                                            
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li class="nav-item"><a class="nav-link" th:href="@{|/survey/create|}">설문조사 주제 등록</a></li>
                        <li class="nav-item"><a class="nav-link"th:href="@{|/survey/admin_list_surveyno_search_paging?is_continue=${is_continue ?: ''}|}">설문조사 목록</a></li>
                    </ul>
                </li>
                -->
                <li class="nav-item dropdown" th:if="${session.grade == 'admin'}">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" 
                            role="button" data-bs-toggle="dropdown" aria-expanded="false" th:text="설문조사관리자">                                                            
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li class="nav-item"><a class="nav-link" th:href="@{|/survey/create|}">설문조사 주제 등록</a></li>
                        <li class="nav-item"><a class="nav-link"th:href="@{|/survey/list_by_surveyno_search_paging?is_continue=${is_continue ?: ''}|}">설문조사 목록</a></li>
                    </ul>
                </li>
                
                <li class="nav-item dropdown" >
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" 
                            role="button" data-bs-toggle="dropdown" aria-expanded="false" th:text="설문조사회원">                                                            
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li class="nav-item"><a class="nav-link"th:href="@{|/survey/list_by_surveyno_search_paging?is_continue=${is_continue ?: ''}|}">설문조사 목록</a></li>
                    </ul>
                </li>
                
                <li class="nav-item dropdown" th:if="${session.grade == 'admin'}">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" 
                            role="button" data-bs-toggle="dropdown" aria-expanded="false" th:text="감정">                                                            
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li class="nav-item"><a class="nav-link" th:href="@{|/emotion/create|}">감정 등록</a></li>
                        <li class="nav-item"><a class="nav-link"th:href="@{|/emotion/list_by_emono_search_paging?is_continue=${is_continue ?: ''}|}">감정 목록</a></li>
                    </ul>
                </li>
                
                <li class="nav-item dropdown" th:if="${session.grade == 'admin'}">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" 
                            role="button" data-bs-toggle="dropdown" aria-expanded="false" th:text="날씨">                                                            
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li class="nav-item"><a class="nav-link" th:href="@{|/weather/create|}">날씨 등록</a></li>
                        <li class="nav-item"><a class="nav-link"th:href="@{|/weather/list_by_weatherno_search_paging?is_continue=${is_continue ?: ''}|}">날씨 목록</a></li>
                    </ul>
                </li>
                
                <li class="nav-item dropdown" th:if="${session.grade == 'admin'}">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" 
                            role="button" data-bs-toggle="dropdown" aria-expanded="false" th:text="금지단어">                                                            
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li class="nav-item"><a class="nav-link" th:href="@{|/bannedwords/create|}">금지단어 등록</a></li>
                        <li class="nav-item"><a class="nav-link"th:href="@{|/bannedwords/list_by_wordno_search_paging?is_continue=${is_continue ?: ''}|}">금지단어 목록</a></li>
                    </ul>
                </li>
                
                <li class="nav-item dropdown" th:if="${session.grade == 'admin'}">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" 
                            role="button" data-bs-toggle="dropdown" aria-expanded="false" th:text="일기">                                                            
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li class="nav-item"><a class="nav-link" th:href="@{|/diary/create|}">일기 작성</a></li>
                        <li class="nav-item"><a class="nav-link" th:href="@{|/diary/list_by_diaryno_search_paging?word=${word}|}">일기 목록</a></li>
                    </ul>
                </li>
                
                <li class="nav-item dropdown" th:if="${session.grade == 'admin'}">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" 
                            role="button" data-bs-toggle="dropdown" aria-expanded="false" th:text="그림">                                                            
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li class="nav-item"><a class="nav-link" th:href="@{|/illustration/create|}">그림 등록</a></li>
                        <li class="nav-item"><a class="nav-link"th:href="@{|/illustration/list_all|}">그림 목록</a></li>
                    </ul>
                </li>
                
                <!--<li class="nav-item dropdown" th:if="${session.grade == 'admin'}">-->
                <li class="nav-item dropdown" >
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" 
                            role="button" data-bs-toggle="dropdown" aria-expanded="false" th:text="일정">                                                            
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li class="nav-item"><a class="nav-link" th:href="@{|/schedule/create|}">일정 등록</a></li>
                        <li class="nav-item"><a class="nav-link"th:href="@{|/schedule/list_all|}">일정 목록</a></li>
                        <li class="nav-item"><a class="nav-link"th:href="@{|/schedule/list_calendar|}">일정 달력</a></li>
                    </ul>
                </li>
                
                <li class="nav-item dropdown" th:if="${session.memberno != null}">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" 
                            role="button" data-bs-toggle="dropdown" aria-expanded="false" th:text="MyPage">                                                            
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li class="nav-item" th:if="${session.memberno != null}">
                            <a class="nav-link" th:href="@{|/member/read|}">개인정보 보기</a>
                        </li>
                        <li class="nav-item" th:if="${session.memberno != null}">
                            <a class="nav-link" th:href="@{|/member/update|}">회원 정보 수정</a>
                        </li>
                        <li class="nav-item" th:if="${session.memberno != null}">
                            <a class="nav-link" th:href="@{|/member/update_file|}">프로필 변경</a>
                        </li>
                        <li class="nav-item" th:if="${session.memberno != null}">
                            <a class="nav-link" th:href="@{|/member/passwd_update|}">비밀번호 변경</a>
                        </li>
                        <li class="nav-item" th:if="${session.memberno != null}">
                            <a class="nav-link" th:href="@{|/member/unsub_delete|}">회원 탈퇴</a>
                        </li>
                    </ul>
                </li>

                <li class="nav-item">
                  <a th:if="${session.memberno == null}" class="nav-link" href="/member/login" th:text="@{|로그인|}"></a>
                  <a th:if="${session.memberno != null}" class="nav-link" href="/member/logout" th:text="@{|${session.name} 로그아웃|}"></a>
                </li>
                
                <li class="nav-item dropdown" th:if="${session.memberno == null}">
                  <a class="nav-link" href="#" role="button" aria-expanded="false" th:href="@{|/member/create|}">
                    회원가입
                  </a>
                </li>
                
                <!-- 회원과 관리자 버튼 => 나중에 지울 부분 -->
                <div class="login-buttons">
                  <button type="button" onclick="loginAsMember();" class="btn btn-secondary btn-sm">회원</button>
                  <button type="button" onclick="loginAsAdmin();" class="btn btn-secondary btn-sm">관리자</button>
                </div>
                <!-- 회원과 관리자 버튼 => 나중에 지울 부분 -->
            </ul>
        </div>
        <!-- 메뉴 종료 -->
    </div>
  </nav>
  <!-- 나중에 지울 부분 -->
  <script>
    function loginAsMember() {
      const form = document.createElement('form');
      form.method = 'POST';
      form.action = '/member/login';

      const idInput = document.createElement('input');
      idInput.type = 'hidden';
      idInput.name = 'id';
      idInput.value = 'test'; // 회원 ID 설정

      const passwdInput = document.createElement('input');
      passwdInput.type = 'hidden';
      passwdInput.name = 'passwd';
      passwdInput.value = '1234'; // 회원 비밀번호 설정

      form.appendChild(idInput);
      form.appendChild(passwdInput);

      document.body.appendChild(form);
      form.submit();
    }

    function loginAsAdmin() {
      const form = document.createElement('form');
      form.method = 'POST';
      form.action = '/member/login';

      const idInput = document.createElement('input');
      idInput.type = 'hidden';
      idInput.name = 'id';
      idInput.value = 'admin'; // 관리자 ID 설정

      const passwdInput = document.createElement('input');
      passwdInput.type = 'hidden';
      passwdInput.name = 'passwd';
      passwdInput.value = '1234'; // 관리자 비밀번호 설정

      form.appendChild(idInput);
      form.appendChild(passwdInput);

      document.body.appendChild(form);
      form.submit();
    }
  </script>
  <!-- 나중에 지울 부분 -->
</div>