<div th:fragment="navbarFragment">
  <div class="top_menu_img">
    <div class="top_menu_label">추억의 저장소 그림 일기</div>
  </div>
  
  <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">메인화면</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
          
        <!-- 메뉴 시작 -->
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item dropdown" th:if="${session.grade == 'admin'}">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" 
                            role="button" data-bs-toggle="dropdown" aria-expanded="false" th:text="관리자">                                                            
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li class="nav-item"><a class="nav-link" th:href="@{|/member/list|}">회원 목록</a></li>
                        <li class="nav-item"><a class="nav-link" th:href="@{|/grade/list_by_gradeno_search_paging?word=${word}|}">등급 목록</a></li>
                        <li class="nav-item"><a class="nav-link" th:href="@{|/diary/list_by_diaryno_search_paging?word=${word}|}">전체 글 목록</a></li>
                        <li class="nav-item"><a class="nav-link" th:href="@{|/notice/list_all|}">공지사항 목록</a></li>
                        <li class="nav-item"><a class="nav-link" th:href="@{|/board/list_all|}">요청사항 글 목록</a></li>
                    </ul>
                </li>
                
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" th:href="@{|/notice/list_all|}" id="navbarDropdownMenuLink" 
                          role="button" data-bs-toggle="dropdown" aria-expanded="false" th:text="공지사항">                                                            
                  </a>
                  <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                      <li class="nav-item"><a class="nav-link"th:href="@{|/notice/list_all|}">공지사항 목록</a></li>
                      <li class="nav-item"><a class="nav-link"th:href="@{|/noticegood/list_all|}">공지사항 추천</a></li>
                  </ul>
                </li>
                
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" 
                            role="button" data-bs-toggle="dropdown" aria-expanded="false" th:text="요청사항">                                                            
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li class="nav-item"><a class="nav-link" th:href="@{|/board/create|}">요청사항 쓰기</a></li>
                        <li class="nav-item"><a class="nav-link"th:href="@{|/board/list_by_boardno_search_paging?board_cate=${board_cate ?: ''}|}">요청사항 목록</a></li>
                    </ul>
                </li>
    
                <li class="nav-item dropdown" th:if="${session.grade == 'admin'}">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" 
                            role="button" data-bs-toggle="dropdown" aria-expanded="false" th:text="설문조사관리자">                                                            
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li class="nav-item"><a class="nav-link" th:href="@{|/survey/create|}">설문조사 주제 등록</a></li>
                        <li class="nav-item"><a class="nav-link"th:href="@{|/survey/list_by_surveyno_search_paging?is_continue=${is_continue ?: ''}|}">설문조사 목록</a></li>
                        <li class="nav-item"><a class="nav-link"th:href="@{|/surveygood/list_all|}">설문조사 추천</a></li>
                        <li class="nav-item"><a class="nav-link"th:href="@{|/participants/list_all|}">설문조사 참여회원</a></li>
                    </ul>
                </li>
                
                <li class="nav-item dropdown" >
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" 
                            role="button" data-bs-toggle="dropdown" aria-expanded="false" th:text="설문조사회원">                                                            
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li class="nav-item"><a class="nav-link"th:href="@{|/survey/list_by_surveyno_search_paging?is_continue=${is_continue ?: ''}|}">설문조사 목록</a></li>
                    </ul>
                </li>
                
                <li class="nav-item dropdown" th:if="${session.grade == 'admin'}">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" 
                            role="button" data-bs-toggle="dropdown" aria-expanded="false" th:text="감정">                                                            
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li class="nav-item"><a class="nav-link" th:href="@{|/emotion/create|}">감정 등록</a></li>
                        <li class="nav-item"><a class="nav-link"th:href="@{|/emotion/list_by_emono_search_paging?is_continue=${is_continue ?: ''}|}">감정 목록</a></li>
                    </ul>
                </li>
                
                <li class="nav-item dropdown" th:if="${session.grade == 'admin'}">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" 
                            role="button" data-bs-toggle="dropdown" aria-expanded="false" th:text="날씨">                                                            
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li class="nav-item"><a class="nav-link" th:href="@{|/weather/create|}">날씨 등록</a></li>
                        <li class="nav-item"><a class="nav-link"th:href="@{|/weather/list_by_weatherno_search_paging?is_continue=${is_continue ?: ''}|}">날씨 목록</a></li>
                    </ul>
                </li>
                
                <li class="nav-item dropdown" th:if="${session.grade == 'admin'}">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" 
                            role="button" data-bs-toggle="dropdown" aria-expanded="false" th:text="금지단어">                                                            
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li class="nav-item"><a class="nav-link" th:href="@{|/bannedwords/create|}">금지단어 등록</a></li>
                        <li class="nav-item"><a class="nav-link"th:href="@{|/bannedwords/list_by_wordno_search_paging?is_continue=${is_continue ?: ''}|}">금지단어 목록</a></li>
                                                <li class="nav-item"><a class="nav-link" th:href="@{|/bannedwordsgood/list_all|}">금지단어 추천</a></li>
                    </ul>
                </li>
                
                <li class="nav-item dropdown" th:if="${session.grade == 'admin'}">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" 
                            role="button" data-bs-toggle="dropdown" aria-expanded="false" th:text="일기">                                                            
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li class="nav-item"><a class="nav-link" th:href="@{|/diary/create|}">일기 작성</a></li>
                        <li class="nav-item"><a class="nav-link" th:href="@{|/diary/list_by_diaryno_search_paging?word=${word}|}">일기 목록</a></li>
                        <li class="nav-item"><a class="nav-link" th:href="@{|/diarygood/list_all|}">일기 좋아요</a></li>
                        <li class="nav-item"><a class="nav-link" th:href="@{|/diary/list_calendar|}">일기 달력</a></li>
                    </ul>
                </li>
                
                <li class="nav-item dropdown" th:if="${session.grade == 'admin'}">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" 
                            role="button" data-bs-toggle="dropdown" aria-expanded="false" th:text="그림">                                                            
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li class="nav-item"><a class="nav-link" th:href="@{|/illustration/create|}">그림 등록</a></li>
                        <li class="nav-item"><a class="nav-link"th:href="@{|/illustration/list_all|}">그림 목록</a></li>
                    </ul>
                </li>
                
                <!--<li class="nav-item dropdown" th:if="${session.grade == 'admin'}">-->
                <li class="nav-item dropdown" >
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" 
                            role="button" data-bs-toggle="dropdown" aria-expanded="false" th:text="일정">                                                            
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li class="nav-item"><a class="nav-link" th:href="@{|/schedule/create|}">일정 등록</a></li>
                        <li class="nav-item"><a class="nav-link"th:href="@{|/schedule/list_all|}">일정 목록</a></li>
                        <li class="nav-item"><a class="nav-link"th:href="@{|/schedule/list_calendar|}">일정 달력</a></li>
                    </ul>
                </li>
                
                <li class="nav-item dropdown" th:if="${session.memberno != null}">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" 
                            role="button" data-bs-toggle="dropdown" aria-expanded="false" th:text="MyPage">                                                            
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li class="nav-item" th:if="${session.memberno != null}">
                            <a class="nav-link" th:href="@{|/member/read|}">개인정보 보기</a>
                        </li>
                        <li class="nav-item" th:if="${session.memberno != null}">
                            <a class="nav-link" th:href="@{|/member/update|}">회원 정보 수정</a>
                        </li>
                        <li class="nav-item" th:if="${session.memberno != null}">
                            <a class="nav-link" th:href="@{|/member/update_file|}">프로필 변경</a>
                        </li>
                        <li class="nav-item" th:if="${session.memberno != null}">
                            <a class="nav-link" th:href="@{|/member/passwd_update|}">비밀번호 변경</a>
                        </li>
                        <li class="nav-item" th:if="${session.memberno != null}">
                            <a class="nav-link" th:href="@{|/member/unsub_delete|}">회원 탈퇴</a>
                        </li>
                    </ul>
                </li>

                <li class="nav-item">
                  <a th:if="${session.memberno == null}" class="nav-link" href="/member/login" th:text="@{|로그인|}"></a>
                  <a th:if="${session.memberno != null}" class="nav-link" href="/member/logout" th:text="@{|${session.name} 로그아웃|}"></a>
                </li>
                
                <li class="nav-item dropdown" th:if="${session.memberno == null}">
                  <a class="nav-link" href="#" role="button" aria-expanded="false" th:href="@{|/member/create|}">
                    회원가입
                  </a>
                </li>
            </ul>
        </div>
        <!-- 메뉴 종료 -->
    </div>
  </nav>
</div>