<div th:fragment="list_search_fragment"> <!-- <div th:replace=... -->
  <div style="text-align: right; clear: both;">
  <form name="frm_search" method="get" action="/emotion/list_by_emono_search_paging">
    <input type="hidden" name="memberno" id="memberno" th:value="${memberVO.memberno}" >
    
    <input type="text" name="type" id="type" th:value="${type}" >
    <button type='submit' class='btn btn-secondary btn-sm' 
                 style="padding: 2px 8px 3px 8px; margin: 0px 0px 2px 0px;">검색</button>
    <span th:if="${type != null and type != ''}">
      <button type='button' class='btn btn-secondary btn-sm' 
                   style="padding: 2px 8px 3px 8px; margin: 0px 0px 2px 0px;"
                   th:onclick="|location.href='/emotion/list_by_emono_search_paging?emono=${emotionVO.emono}'|">검색 취소</button>
    </span>
                  
  </form>
</div>
</div>