<!DOCTYPE html>

<html layout:decorate="~{layout}"> <!-- layout.html 상속-->
<div layout:fragment="content">

  <div class='title_line'>
    > 검색
  </div>

  <aside class="aside_right">
    <span th:if="${session.grade == 'admin'}">
      <a th:href="@{|/emotion/create?emono=${emotionVO.emono}|}">등록</a>
      <span class="menu_devide">│</span>    
    </span>
    
    <a href="javascript:location.reload();">새로고침</a>
    <span class='menu_divide' >│</span>    
    <a th:href="@{|./list_by_emono?emono=${emotionVO.emono }&now_page=${now_page}|}">목록</a>  
    
  </aside> 

  <!-- /emotion/list_search_com.html 파일의 list_search_fragment import -->
  <div th:replace="~{emotion/list_search_com::list_search_fragment}"></div>
     
  <div class='menu_line'></div>
       
  <div style='width: 100%;'> <!-- 갤러리 Layout  시작 -->
    <div th:if="${list.size() > 0}"  th:each="emotionVO, status:${list}" 
         th:attr="onclick=|location.href='/emotion/read?emono=${emotionVO.emono}&now_page=${now_page}'|"
         style='width: 19.0%; height: 200px; float: left; margin: 0.5%; padding: 0.5%; background-color: #EEEFFF; text-align: left; cursor: pointer;'>

      <div th:if="${emotionVO.file1.endsWith('jpg') or emotionVO.file1.endsWith('png')  or emotionVO.file1.endsWith('gif')}"
             style="width: 100%; height: 100px;">
        <img th:src="@{|/emotion/storage/${emotionVO.thumb1}|}" style="width: 100%; height: 100%;">
      </div>

      <div th:if="${((emotionVO.file1.endsWith('jpg') or emotionVO.file1.endsWith('png')  or emotionVO.file1.endsWith('gif')) == false) and (emotionVO.size1 > 0)}"
             style="width: 100%; height: 100px;">
        <span th:text="${emotionVO.file1}"></span>
      </div>

      <div th:if="${emotionVO.size1 == 0}" style="width: 100%; height: 100px;">
        <img src="/emotion/images/none1.png" style="width: 100%; height: 100%;">
      </div>
      <div>
        <span th:if="${emotionVO.title.length() > 16 }" 
                  th:text="|${emotionVO.title.substring(0, 16) }...|" style="font-weight: bold;"></span>
        <span th:if="${emotionVO.title.length() <= 16 }" 
                  th:text="|${emotionVO.title}|" style="font-weight: bold;"></span>
        <br>
        
        <span th:if="${emotionVO.explan.length() > 25 }" 
                  th:text="|${emotionVO.explan.substring(0, 25) }...|"></span>
        <span th:if="${emotionVO.explan.length() <= 25 }" 
                  th:text="|${emotionVO.explan}|"></span>
      </div>
      
      <div style="width: 100%; text-align: right;">♡</div>
      
    </div>
    
    <div th:if="${list.size() == 0}" style="text-align: center; padding: 50px 0px;">
      <span>관련 감정이 등록되지 않았습니다.</span>
    </div> 
  </div>  <!-- 갤러리 Layout  종료 -->
   
  <!-- 페이지 버튼 목록 출력 시작 -->
  <div class="bottom_menu" th:utext="${paging}"></div>
  <!-- 페이지 버튼 목록 출력 종료 --> 

</div>
</html>

