<!DOCTYPE html>
<html layout:decorate="~{layout}"> <!-- layout.html 상속 -->
<!DOCTYPE html>
<html layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>회원 목록</title>
    <!-- CSS 파일 링크 추가 -->
    <link rel="stylesheet" href="/css/style.css"> <!-- CSS 파일 경로 -->
</head>
<body>
<div layout:fragment="content">

  <div class='title_line'>

    목록 조회 검색
    
    <span th:if="${type != ''}" th:text="|> ${type} (${search_count} 건)|" class="title_line_text"></span>

  </div>

  <aside class="aside_right">
    <span th:if="${session.grade == 'admin'}">
      <a th:href="@{|/emotion/create?emono=${emotionVO?.emono}|}">등록</a>
      <span class="menu_devide">│</span>    
      <a href="javascript:location.reload();">새로고침</a>
      <span class='menu_divide'>│</span>    
      <a th:href="@{|./list_by_emono_search_paging?emono=${emotionVO?.emono }&type=${type }&now_page=${now_page}|}">목록</a>  
    </aside> 
  
  <div th:replace="~{/emotion/list_search_com :: list_search_fragment}"></div>
     
  <div class='menu_line'></div>
       
  <table class="table table-striped playful-table" style='width: 100%;'>
    <colgroup>
      <col style='width: 10%;'/>
      <col style='width: 90%;'/>
    </colgroup>
    <tr>
      <th class='th_bs'>파일</th>
      <th class='th_bs'>제목</th>
    </tr>
   
    <tr th:if="${list != null and list.size() > 0}" th:each="emotionVO, status:${list}" 
         th:attr="onclick=|location.href='/emotion/read?emono=${emotionVO.emono}&now_page=${now_page}'|"
         style="cursor: pointer; height: 90px;">
      <td class='td_basic' style="vertical-align: middle; text-align: center;">
        <div th:if="${emotionVO.file1.endsWith('jpg') or emotionVO.file1.endsWith('png')  or emotionVO.file1.endsWith('gif')}">
          <img th:src="@{|/emotion/images/${emotionVO.file1}|}" style="width: 120px; height: 90px;">
        </div>
        
        <!--% 이미지가 이닌 파일은 파일명만 출력 %-->
        <div th:if="${((emotionVO.file1.endsWith('jpg') or emotionVO.file1.endsWith('png')  or emotionVO.file1.endsWith('gif')) == false) and (emotionVO.size1 > 0)}">
          <span th:text="${emotionVO.file1}"></span>
        </div>

        <!--% 파일이 없는 경우 기본 이미지 출력 %-->
        <div th:if="${emotionVO.size1 == 0}">
          <img src="/emotion/images/none1.png" style="width: 120px; height: 90px;">
        </div>
        
      </td>
      </td>
      <td class='td_left'>
        <span th:text="${emotionVO.type}" style="font-weight: bold;"></span><br>

        <span th:if="${emotionVO.explan.length() > 160 }" 
                  th:text="|${emotionVO.explan.substring(0, 160) }...|"></span>
        <span th:if="${emotionVO.explan.length() <= 160 }" 
                  th:text="|${emotionVO.explan}|"></span>
        
      </td>
    </tr>

    <tr th:if="${list != null and list.size() == 0}">
      <td colspan="2" style="text-align: center;">관련 글이 등록되지 않았습니다.</td>
    </tr> 

  </table>
   
  <!-- 페이지 버튼 목록 출력 시작 -->
  <div class="bottom_menu" th:utext="${paging}"></div>
  <!-- 페이지 버튼 목록 출력 종료 --> 
  
</div>
</body>
</html>
