<!DOCTYPE html>

<html layout:decorate="~{layout}"> <!-- layout.html 상속-->
<div layout:fragment="content">
  <div class="title_line">설문조사 항목 등록</div>
  
  <aside class="aside_right">
    <a href="javascript: location.reload();">새로 고침</a>
  </aside>
  
  <!--/* '/cate/list_search_com.html' 파일의 list_search_fragment를 가져다 사용 */--> 
  <!--<div th:replace="~{surveyitem/list_search_com::list_search_fragment}"></div> --> 

  <div class="menu_line"></div>
    
  <div style="width: 50%; margin: 0px auto;">  
    <form name="frm" method="post" action="/surveyitem/create" th:object="${itemVO}">

      <div>
        <label>항목 내용</label>
        <input type="text" name="item" value="" autofocus="autofocus"
               class="form-control" style="width: 100%;" th:field="*{item}">
        <div th:if="${#fields.hasErrors('item')}" class="alert alert-danger" role="alert" style="margin-top: 5px;">
          <div th:each="err: ${#lists.sort(#fields.errors('item'))}" th:text="${err}"></div>
        </div>  
      </div>
      
      <div>
        <label>항목 출력 순서</label>
        <input type="number" name="item_seq" value="1" min="1" max="1000000" step="1"
               class="form-control" style="width: 50%;" th:field="*{item_seq}">        <div th:if="${#fields.hasErrors('item_seq')}" class="alert alert-danger" role="alert" style="margin-top: 5px;">
          <div th:each="err: ${#lists.sort(#fields.errors('item_seq'))}" th:text="${err}"></div>
        </div>  
      </div>
      
      <div>
        <label>항목 선택 인원</label>
        <input type="number" name="item_cnt" value="1" min="1" max="1000000" step="1"
               class="form-control" style="width: 50%;" th:field="*{item_cnt}">        <div th:if="${#fields.hasErrors('item_cnt')}" class="alert alert-danger" role="alert" style="margin-top: 5px;">
          <div th:each="err: ${#lists.sort(#fields.errors('item_cnt'))}" th:text="${err}"></div>
        </div>  
      </div>

      <div class="content_body_bottom">
        <button type="submit" class="btn btn-secondary btn-sm">등록</button>
        <button type="button" onclick="location.href='/surveyitem/list_search'" class="btn btn-secondary btn-sm">목록</button>
      </div>
      
    </form>
  <div>  
</div>
</html>

