<!DOCTYPE html>
<html layout:decorate="~{layout}">
<div layout:fragment="content">
    <div class="title_line">설문조사 항목 삭제</div>

    <fieldset class="fieldset_basic">
        <div style="text-align: left; width: 47%; float: left;">
            <span style="font-size: 1.5em;" th:text="'항목 번호: ' + ${itemVO.itemno}"></span>
            <br>
            <form name="frm" method="post" th:action="@{/surveyitem/delete/{itemno}(itemno=${itemVO.itemno})}">
                <!-- surveyno 값을 전달 -->
                <input type="hidden" name="surveyno" th:value="${itemVO.surveyno}" />
                <br> 
                <div style="margin-top: 20px; clear: both;">
                    <span style="color: #FF0000; font-weight: bold;">
                        삭제를 진행하시겠습니까? 삭제 후 복구는 불가능합니다.
                    </span>
                    <br><br><br>  
                    <button type="submit" class="btn btn-secondary btn-sm">삭제</button>
                    <button type="button" onclick="location.href='/surveyitem/list_all_com?surveyno=${itemVO.surveyno}'" class="btn btn-secondary btn-sm">취소</button>
                </div>  
            </form>
        </div>
    </fieldset>  
</div>
</html>
