<!DOCTYPE html>

<html layout:decorate="~{layout}"> <!-- layout.html 상속-->
<div layout:fragment="content">
  <div class="title_line">설문조사 항목 수정</div>
  
  <aside class="aside_right">
    <span th:if="${session.grade == 'admin'}">
      <a th:href="@{/surveyitem/create(surveyno=${surveyno})}">항목 추가</a>
      <span class='menu_divide'>│</span> 
    </span>
    <a href="javascript:location.reload();">새로고침</a>
    <span class='menu_divide'>│</span> 
    <a th:href="@{|/survey/list_by_surveyno_search_paging?is_continue=${is_continue ?: ''}|}">설문조사 목록</a>
  </aside>  
    
  <div class="menu_line"></div>

  <div style="width: 50%; margin: 0px auto;">  
    <form name="frm" method="post" action="/surveyitem/update" th:object="${itemVO}">
      <input type="hidden" name="itemno" th:value="${itemVO.itemno}"> 
       
      <div>
        <label>항목 내용</label>
        <input type="text" name="item" value="" autofocus="autofocus"
              class="form-control" style="width: 50%;" th:field="*{item}" />
          <div th:if="${#fields.hasErrors('item')}" class="alert alert-danger" role="alert" style="margin-top: 5px;">
          <div th:each="err: ${#lists.sort(#fields.errors('item'))}" th:text="${err}"></div>
      </div>
      <div>
        <label>출력 순서</label>
        <input type="number" name="item_seq" value="1" min="1" max="10000" step="1"
              class="form-control" style="width:50%;" th:field="*{item_seq}"  />
          <div th:if="${#fields.hasErrors('item_seq')}" class="alert alert-danger" role="alert" style="margin-top: 5px;">
          <div th:each="err: ${#lists.sort(#fields.errors('item_seq'))}" th:text="${err}"></div>
      </div>
      <div>
        <label>참여 인원</label>
        <input type="number" name="item_cnt" value="1" min="1" max="10000" step="1"
              class="form-control" style="width:50%;" th:field="*{item_cnt}"  />
          <div th:if="${#fields.hasErrors('item_cnt')}" class="alert alert-danger" role="alert" style="margin-top: 5px;">
          <div th:each="err: ${#lists.sort(#fields.errors('item_cnt'))}" th:text="${err}"></div>
      </div>
      
      </div>
      <div class="content_body_bottom">
        <button type="submit" class="btn btn-secondary btn-sm">저장</button>
        <button type="button" onclick="location.href='/surveyitem/list_all_com'" class="btn btn-secondary btn-sm">취소</button>
      </div>
      
    </form>  
  </div>

  <div th:replace="~{surveyitem/list_all_com::list_all_fragment}"></div> 

</div>
</html>


