<!DOCTYPE html>
<html layout:decorate="~{layout}"> <!-- layout.html 상속 -->
<div layout:fragment="content">
  <div class='title_line'>
   삭제
  </div>

  <aside class="aside_right">
    <a href="javascript:location.reload();">새로고침</a>
    <span class='menu_divide' >│</span>
    <a th:href="@{/illustration/list_all}">목록으로 돌아가기</a>    
  </aside>

  <div class='menu_line'></div>

  <fieldset class="fieldset_basic">
    <ul>
      <li class="li_none">
        <div th:if="${illustrationVO.illust.endsWith('jpg') or illustrationVO.illust.endsWith('png')  or illustrationVO.illust.endsWith('gif')}"
             style="text-align: center; width: 100%;">
          <img th:src="@{|/upload/${illustrationVO.illust_saved}|}" style="width: 50%; max-width: 500px;">
        </div>

        <div th:if="${((illustrationVO.illust.endsWith('jpg') or illustrationVO.illust.endsWith('png')  or illustrationVO.illust.endsWith('gif')) == false) and (illustrationVO.illust_size > 0)}"
             class="display_table" style="text-align: center; width: 100%;">
            <div class="display_table_cell">
              <span th:text="${illustrationVO.illust}"></span>
            </div>
        </div>

        <div th:if="${illustrationVO.illust_size == 0}" style="text-align: center; width: 100%;">
          <img src="/images/none1.png" style="width: 50%; max-width: 500px;">
        </div>
  
        <div style='text-align: left; width: 100%;'>
          <form name='frm' method='POST' th:action="@{/illustration/delete}">
            <input type="hidden" name="illustno" th:value="${illustrationVO.illustno}">
            <input type="hidden" name="now_page" th:value="${now_page}">
                
            <div style='margin-top: 20px;'>
              <span style="color: #FF0000; font-weight: bold;">삭제를 진행 하시겠습니까? 삭제하시면 복구 할 수 없습니다.</span>
              <br><br><br>  
              <button type="submit" class="btn btn-danger btn-sm">삭제</button>
              <button type="button" onclick="history.back();" class="btn btn-secondary btn-sm">취소</button>
            </div>  
          </form>
        </div>
      </li>
    </ul>
  </fieldset>  
</div>
</html>
