<!DOCTYPE html>

<html layout:decorate="~{layout}"> <!-- layout.html 상속-->
<div layout:fragment="content">
  <div class='title_line'>
    그림 삭제
  </div>
  
  <aside class="aside_right">
    <a th:href="@{|./create|}">등록</a>
    <span class='menu_divide' >│</span>
    <a href="javascript:location.reload();">새로고침</a>
    <span class='menu_divide' >│</span>
    <a th:href="@{|./list_by_illustno_paging_grid?illustno=${illustVO.illustno }&now_page=${now_page}|}">목록</a>
  </aside>
  
  <div class='menu_line'></div>
  
  <fieldset class="fieldset_basic">
    <ul>
      <li class="li_none">
        <div th:if="${illustVO.illust.endsWith('jpg') or illustVO.illust.endsWith('png')  or illustVO.illust.endsWith('gif')}"
               style="text-align: center; width: 50%; float: left;">
          <img th:src="@{|/contents/storage/${illustVO.illust_saved}|}" style="width: 90%;">
        </div>
        
        <div th:if="${((illustVO.illust.endsWith('jpg') or illustVO.illust.endsWith('png')  or illustVO.illust.endsWith('gif')) == false) and (illustVO.illust_size > 0)}"
               class="display_table" style="float: left; width: 50%;">
            <div class="display_table_cell">
              <span th:text="${illustVO.file1}"></span>
            </div>
        </div>

        <div th:if="${illustVO.illust_size== 0}" style="text-align: center; width: 50%; float: left;">
          <img src="/illustration/images/none1.png" style="width: 90%;">
        </div>
  
        <div style='text-align: left; width: 47%; float: left;'>
          <span style='font-size: 1.5em;' th:text="${illustVO.illust}"></span>
          <br>
          <form name='frm' method='POST' action='./delete'>
            <input type="hidden" name="illustno" th:value="${illustVO.illustno }">
            <input type="hidden" name="now_page" th:value="${now_page}">
                
            <br> 
            <div style='margin-top: 20px; clear: both;'>
              <span style="color: #FF0000; font-weight: bold;">삭제를 진행 하시겠습니까? 삭제하시면 복구 할 수 없습니다.</span>
              <br><br><br>  
              <button type="submit" class="btn btn-secondary btn-sm">삭제</button>
              <button type="button" onclick="history.back();" class="btn btn-secondary btn-sm">취소</button>
            </div>  
          </form>
        </div>
      </li>
    </ul>
  </fieldset>  

</div>

</html>