<!DOCTYPE html>
<html layout:decorate="~{layout}">
<div layout:fragment="content">
  <div class="title_line">
    그림 목록
    <span th:if="${start_date != null and end_date != null}" th:text="|날짜: ${start_date} ~ ${end_date}|"></span>
  </div>

  <aside class="aside_right">
    <a href="javascript:location.reload();">새로 고침</a>
    <span class='menu_divide'>│</span>
    <a th:href="@{/illustration/create}">새 그림 등록</a>
  </aside>

  <div class="menu_line"></div>

  <!-- 검색 및 날짜 범위 설정 -->
  <form name="searchForm" method="get" action="/illstration/list_by_illustno_search_paging_grid" style="margin: 20px 0;">
    <div style="display: flex; justify-content: space-between; align-items: center; gap: 10px;">
    
      <!-- 시작 날짜 -->
      <input type="date" name="start_date" th:value="${start_date}" class="form-control">

      <!-- 종료 날짜 -->
      <input type="date" name="end_date" th:value="${end_date}" class="form-control">

      <!-- 검색 버튼 -->
      <button type="submit" class="btn btn-secondary btn-sm">검색</button>
    </div>
  </form>

  <!-- 목록 출력 -->
  <div>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>그림 번호</th>
          <th>그림 제목</th>
          
        </tr>
      </thead>
      <tbody>
        <tr th:each="illustration : ${illustList}">
          <td th:text="${illustration.illustno}"></td>
          <td th:text="${illustration.illust}"></td>
          
          <td>
            <a th:href="@{|/illustration/update_file/${illustrationVO.illustno}|}">수정</a>
            <span class="menu_divide">│</span>
            <form th:action="@{|/illustration/delete/${illustrationVO.illustno}|}" method="post" style="display: inline;">
              <input type="hidden" name="illustno" th:value="${illustration.illustno}" />
              <button type="submit" class="btn btn-link">삭제</button>
            </form>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <!-- 페이징 처리 -->
  <div class="bottom_menu" th:utext="${paging}" ></div>
</div>
</html>
