<!DOCTYPE html>

<html layout:decorate="~{layout}"> <!-- layout.html 상속-->
<div layout:fragment="content">

  <!-- 상단에 별명과 ddate 표시 -->
  <div class='title_line'>
    <span th:text="|${nickname}의 그림|"></span> <!-- 별명 표시 -->
    <span th:if="${ddate != null}" th:text="|(${#dates.format(ddate, 'yyyy-MM-dd')})|"></span> <!-- ddate 표시 -->
  </div>

  <aside class="aside_right">
    <span th:if="${session.grade == 'admin'}">
      <a th:href="@{|/illust/create?illustno=${illustno}|}">등록</a>
      <span class="menu_devide">│</span>    
    </span>
    
    <a href="javascript:location.reload();">새로고침</a>
    <span class='menu_divide' >│</span>    
    <a th:href="@{|./list_by_illustno?illustno=${illustno }&word=${word }&now_page=${now_page}|}">목록형</a>    
    <span class='menu_divide' >│</span>
    <a th:href="@{|./list_by_illustno_grid?illustno=${illustno }&word=${word }&now_page=${now_page}|}">갤러리형</a>    
  </aside> 

  <!-- /illust/list_search_com.html 파일의 list_search_fragment import -->
  <div th:replace="~{illust/list_search_com::list_search_fragment}"></div>
     
  <div class='menu_line'></div>
       
  <div style='width: 100%;'> <!-- 갤러리 Layout  시작 -->
    <div th:if="${list.size() > 0}"  th:each="illustVO, status:${list}" 
         th:attr="onclick=|location.href='/illust/read?illustno=${illustVO.illustno}&word=${word}&now_page=${now_page}'|"
         style='width: 19.0%; height: 200px; float: left; margin: 0.5%; padding: 0.5%; background-color: #EEEFFF; text-align: left; cursor: pointer;'>

      <!-- illust_size가 1인 경우 none1.png 출력 -->
      <div th:if="${illustVO.illust_size == 1}" style="width: 100%; height: 100px;">
        <img src="/images/none1.png" style="width: 100%; height: 100%;"/>
      </div>

      <!-- 파일이 jpg, png, gif일 경우 -->
      <div th:if="${illustVO.illust.endsWith('jpg') or illustVO.illust.endsWith('png') or illustVO.illust.endsWith('gif')}" 
           style="width: 100%; height: 100px;">
        <img th:src="@{|/illust/storage/${illustVO.illust_thumb}|}" style="width: 100%; height: 100%;"/>
      </div>

      <!-- 기타 파일 -->
      <div th:if="${((illustVO.illust.endsWith('jpg') or illustVO.illust.endsWith('png') or illustVO.illust.endsWith('gif')) == false) and (illustVO.size1 > 0)}"
           style="width: 100%; height: 100px;">
        <span th:text="${illustVO.illust}"></span>
      </div>

      <!-- illust_size가 0일 경우 -->
      <div th:if="${illustVO.size1 == 0}" style="width: 100%; height: 100px;">
        <img src="/illust/images/none1.png" style="width: 100%; height: 100%;"/>
      </div>

      </div>
      
      <div style="width: 100%; text-align: right;">♡</div>
      
    </div>
    
    <div th:if="${list.size() == 0}" style="text-align: center; padding: 50px 0px;">
      <span>관련 글이 등록되지 않았습니다.</span>
    </div> 
  </div>  <!-- 갤러리 Layout  종료 -->
   
  <!-- 페이지 버튼 목록 출력 시작 -->
  <div class="bottom_menu" th:utext="${paging}"></div>
  <!-- 페이지 버튼 목록 출력 종료 --> 

</div>
</html>
