<!DOCTYPE html>
<html layout:decorate="~{layout}">
<div layout:fragment="content">
    <div class="title_line">
        일러스트 조회
    </div>

    <aside class="aside_right">
        <a href="javascript:location.reload();">새로고침</a>
        <span class="menu_divide">│</span>
        <a th:href="@{/illustration/list_all}">목록</a>
    </aside>

    <div class="menu_line"></div>

    <fieldset class="fieldset_basic">
        <ul>
            <li>
                <strong>일러스트 번호:</strong> <span th:text="${illustrationVO.illustno}"></span>
            </li>
            <li>
                <strong>썸네일:</strong>
                <img th:src="@{'/upload/' + ${illustrationVO.illust_thumb}}" 
                     alt="썸네일" style="width: 200px; height: auto;">
            </li>
            <li th:if="${diaryVO != null}">
                <strong>일기 제목:</strong> <span th:text="${diaryVO.title}"></span><br>
                <strong>작성 날짜:</strong> <span th:text="${#dates.format(diaryVO.ddate, 'yyyy-MM-dd')}"></span>
            </li>
            <li>
                <strong>저장된 파일 크기:</strong> <span th:text="${illustrationVO.illust_size}"></span>
            </li>
        </ul>
    </fieldset>
</div>
</html>
