<!DOCTYPE html>
<html layout:decorate="~{layout}">
<div layout:fragment="content">
  <div class="title_line">파일 수정</div>

  <aside class="aside_right">
    <a th:href="@{|/illustration/create|}">등록</a>
    <span class="menu_divide">│</span>
    <a href="javascript:location.reload();">새로고침</a>
    <span class="menu_divide">│</span>
    <a th:href="@{|/illustration/list_all|}">목록</a>
  </aside>

  <div class="menu_line"></div>

  <fieldset class="fieldset_basic">
    <ul>
      <li class="li_none">
        
        <!-- 이미지 표시 -->
        <div th:if="${illustrationVO.illust != null and (illustrationVO.illust.endsWith('jpg') or illustrationVO.illust.endsWith('png') or illustrationVO.illust.endsWith('gif'))}" 
             style="text-align: center; width: 50%; float: left;">
          <img th:src="@{'/upload/' + ${illustrationVO.illust_saved}}" style="width: 90%;" alt="이미지">
        </div>

        <!-- 파일 이름 표시 -->
        <div th:if="${illustrationVO.illust != null and !(illustrationVO.illust.endsWith('jpg') or illustrationVO.illust.endsWith('png') or illustrationVO.illust.endsWith('gif'))}" 
             class="display_table" style="float: left; width: 50%;">
          <div class="display_table_cell">
            <span th:text="${illustrationVO.illust}"></span>
          </div>
        </div>

        <!-- 기본 이미지 표시 -->
        <div th:if="${illustrationVO.illust == null or illustrationVO.illust_size == 0}" style="text-align: center; width: 50%; float: left;">
          <img src="/illustration/images/none1.png" style="width: 90%;" alt="기본 이미지">
        </div>

        <!-- 폼 -->
        <div style="text-align: left; width: 47%; float: left;">
          <span style="font-size: 1.5em;" th:text="${illustrationVO.illust}"></span>
          <br><br>
          <form name="frm_update" method="POST" action="/illustration/update" enctype="multipart/form-data">
            <input type="hidden" name="illustno" th:value="${illustrationVO.illustno}">
            <input type="hidden" name="now_page" th:value="${now_page}">

            <label for="illustMF">변경 이미지 선택</label><br>
            <input type="file" name="illustMF" id="illustMF" accept=".jpg, .png, .gif"><br><br>

            <button type="submit" class="btn btn-secondary btn-sm">파일 변경 처리</button>
          </form>

          <!-- 파일 삭제 버튼 -->
          <form name="frm_delete" method="POST" action="./delete">
            <input type="hidden" name="illustno" th:value="${illustrationVO.illustno}">
            <input type="hidden" name="now_page" th:value="${now_page}">
            <div style="margin-top: 10px; clear: both;">
              <button type="submit" class="btn btn-danger btn-sm">파일 삭제</button>
              <button type="button" onclick="history.back();" class="btn btn-secondary btn-sm">취소</button>
            </div>
          </form>
        </div>
      </li>
    </ul>
  </fieldset>
</div>
</html>
